html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Roboto Condensed', sans-serif;
}

.clear {
	clear:both;
}

.options {
	border-radius: 6px;
    background: rgba(129, 216, 208, 0.1);
	float: left;
	padding: 0 10px;	
  margin-bottom: 15px;
}

.infopage {
	border-radius: 6px;
    background: rgba(129, 216, 208, 0.1);
	float: left;
	padding: 0 10px;	
	min-height: 400px;
	margin-bottom: 10px; 
}

.other_contacts {
	font-size: 0.8em;
}

.main_contacts {
	font-size: 1.1em;
}

.education dd {
  margin-bottom: 15px;
}

.personal {
	border-radius: 6px;
    background: rgba(129, 216, 208, 0.1);
	float: left;
	padding: 0 10px;
	margin: 0px 0 25px 0;
	min-height: 400px;
}

.personal_container {
}

.personal_tabs {
	overflow-y: hidden;
	margin: 10px 0;
}

.personal_tabs_container {
	min-width: 755px;
}

.personal_tabs_container>.tab-content>.tab-pane.active {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: -1px 0 0 0;
	padding: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	z-index: 0;
}

.divider{
	float:left;
	width: 1px;
	min-height: 80px;
	background: #00cec8;
}

.dividerw{
	float:left;
	width: 100%;
	height: 1px;
	margin: 5px 0;
	background: #00cec8;
}

.products {
	margin: 0px 0 50px 0;  
}

.products_list {
	margin: 8px 0 20px 0;  
}

.sort {
    padding-left: 0;
/*    margin: 15px 0; */
    border-radius: 4px;
}
.sort select {
	display: inline-block;
    width: auto;
}
.sort p {
   /* padding: 6px 12px; */
}

.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}


.search-filter {
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 4px 10px;	
}

.filters {
	border-radius: 6px;
	background-color: #49999a;
	color: #fff;
}

.filters .btn-group {
	width: 100%;
}

.filter-btn {
	margin: 8px 0;
}

.filter_a input {
	cursor: pointer !important;
}

.product_img_content {
	padding: 8px;
}

.product-img {
	position: relative;
	max-width: 280px;
	margin: 0 auto;
	padding: 0px;
}

.fast-view-xs {
	position: absolute;
	bottom: 3px;
	left: 3px;
}

.fast-view-sm-lg {
	display: none;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(129, 216, 208, 0.57);
	padding: 10px 0;
	color: #fff;
	margin: 0px;
}

.marker_action {
	background-color: #009;
}
.marker_hit {
	background-color: #f00;
}
.marker_new {
	background-color: #090;
}
	
	
.marker_new, .marker_action, .marker_hit{
	float: left;
	padding: 2px 4px;
	border-radius: 4px;
	margin: 1px;
	color: #fff;
}
	
.markers {
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	width: 100%;
}

.product-img:hover .fast-view-sm-lg {
	display: block;
}

.product {
	padding: 4px 4px 2px 4px;
	margin: 2px 0;
    border-radius: 4px;	
	height: 360px;
	overflow: hidden;
}

.product:hover {
    background: rgb(240, 255, 253);
	height: 420px;
	margin-bottom: -58px;
	z-index: 100;
	border: 1px solid #00cec8;
}


.product_inlist {
	padding: 4px 4px 2px 4px;
	margin: 2px 0;
    border-radius: 4px;	
	overflow: hidden;
}

.product_inlist:hover {
    background: rgb(240, 255, 253);
	z-index: 100;
}

#footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #49999a;
  float:left;
  color: #fff;
  padding-bottom: 50px;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#footer a {
	color: #fff;
}
	
#footer p {
	color: #31e2e4;
}
	
#footer ul {
	margin: 0;
	padding: 0;
    list-style: none;
}

.footer-social {
	padding: 10px !important;	
}

.footer-social li {
	width: 30px;
	height: 30px;
	font-size: 19px;
	color: #fff;
	border-radius: 4px;
	padding: 5px;
	background-color: #00cec8;
	text-align: center;
}

.geo {
	max-height: 60px;
	overflow: hidden;
  margin: 0 0 5px 0;
}

.phone {
	margin: 8px 0;
}

.filter_option {
		padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    overflow: hidden;
	cursor: pointer;
}

.cart {
	margin: 8px 0;
	font-size: 12px;
}

.cart_item_title {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	text-align: center;
}

.cart_option:hover {
	border: 2px solid #24b3de;
}

.cart_option.active {
	background-color: #ddd;
    border: 2px solid #24b3de;
  /*  color: #fff;*/
	cursor: default;
}	
	
.cart_option {
	padding: 10px;
    float: left;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
}

.cart_page_item {
	border: 1px solid #ddd;
	position: relative;
	margin-top: 8px;
	background-color: #fff;
}

.cart_product_img {
/*	max-width: 200px; */
    padding: 4px;
	float: left;
}

.cart_product_img:hover h4 {
	display:none;
}

.cart_product_description {
	float:left;
	padding: 8px 0 0 0 !important;
}

.cart_product_quantity {
    padding: 6px;
/*	width: 124px;*/
	float: left;
}

.cart_product_quantity .form-control {
    display: inline-block;
    width: 42px;
    text-align: center;
    height: 36px;
    float: left;
    margin-left: -2px;
    z-index: 510;
	border-radius: 0;
	border: 1px solid #D0D0D0;
}

.cart_product_quantity .btn {
    font-size: 16px;
    font-weight: bold;
    width: 36px;
    float: left;
    background-color: #F0F0F0;
    z-index: 500;
    padding: 6px 12px;
	border-radius: 0;
	border: 1px solid #D0D0D0;
}

.cart_product_quantity .btn:last-child {
    border-left: 0;
}

.cart_page_item .delete {
    background: 0;
    border: 0;
	position: absolute;
	top: 10px;
	right: 10px;
}	


.footer-logo img {
    max-width: 200px;
    width: 100%;
    text-align: center;
}

.logo-xs {
	margin: 5px;
}

.logo-footer ul {
	width: 65px;
	margin: 0 auto !important; 
}

.footer-nav {
	padding: 10px;
}

.footer-nav p {
	font-size: 18px;
	font-weight: 700;
}

.container.index {
  padding-right: 0px;
  padding-left: 0px;
/*  padding-top: 8px;
  padding-bottom: 8px; */
}

.container .text-muted {
    margin: 20px 0;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
/*  padding-top: 10px;
   padding-bottom: 10px;
 background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2); */
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -55%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 54%; /* 6 columns */
  }

  .sidebar-offcanvas {
	font-size: 12px;
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
}

.chosen-choices li.search-choice {
    position: relative;
    margin: 3px 0 3px 0px;
	padding: 3px 25px 3px 5px;
    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: #00cec8; 
    background-clip: padding-box;
    color: #fff;
    cursor: default;
}

.catalog-inner .catalog-filters .chosen-container-multi {
    width: 100% !important;
}

.chosen-choices {
    text-align: left;
    padding: 0;
}

.chosen-choices a {
    text-decoration: none;
    cursor: pointer;
 /*   font-size: 20px;*/
    position: absolute;
    top: 4px;
    right: 3px;
}

.search-choice {
    background: #fff;
    border: 0 solid #fff;
    padding: 5px 5px 5px 25px;
}

.right {
	float: right !important;
}

.marginb10 {
	margin-bottom: 10px !important;
}

.noborder {
	border: 0 !important;
}

.list-group {
    overflow: hidden;
    min-height: 70px;
    max-height: 170px;
	overflow: hidden;
	overflow-y: auto;
}

.list-group-header {
    background-color: #00cec8;
	color: #fff;
	z-index: 2;
	padding: 6px 12px;
	position: relative;
	margin-bottom: 0px;
    display: block;
	border:1px solid #00cec8;
	border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
	
}

.container.bottom {
/*	padding: 0; */
}

.btn-launch, .btn-launch a {
	color: #fff !important;
}

.btn-launch,.btn-launch:hover, .btn-launch:active, .btn-launch:focus{
	background-color: #81d8d0;
    border: medium none #81d8d0;
  /*  box-shadow: 0 3px 0 #d35400, 0 5px 2px rgba(0, 0, 0, 0.2); */
    color: #fff;
    font-weight: bold;
    padding: 8px 5px 9px 5px;
	cursor: pointer;
	width: 100%;
}
.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}

#search {
   /* padding: 8px;
    height: auto; */ 
}

.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #49999a;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #000;
}

.login-modal-header .close .fa {
	color: #000;
	padding: 3px 0;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}


/*
 * @subsection   RD-Range
 */
.rd-range-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 100%;
}

.rd-range-input-container {
  position: relative;
}

.rd-range-input-container label {
  color: #00cec8;
}

.rd-range-input-container .rd-range-input-value {
  border: none;
  font-size: 18px;
  text-align: left;
  padding: 0 5px;
  color: #00cec8;
}



.rd-range {
  padding-left: 7px;
  padding-right: 7px;
  height: 18px;
  margin-top: 25px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rd-range__wrap {
  position: relative;
  width: 100%;
  background-color: #e8e8eb;
  transition: background 100ms cubic-bezier(0.23, 1, 0.32, 1);
  height: 4px;
}

.rd-range:hover .rd-range__pointer:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.rd-range__pointer {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 6%;
  z-index: 1;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-origin: 0% 15%;
  transition: transform 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  overflow: visible;
  background-color: #24b3de;
  background-clip: padding-box;
}

@media (min-width: 768px) {
  .rd-range__pointer {
    width: 12px;
    height: 12px;
  }
  .rd-range__pointer:before {
    content: '';
    height: 26px;
    width: 26px;
    pointer-events: none;
    background: rgba(127, 203, 201, 0.16);
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms, opacity 60ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
    pointer-events: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .rd-range__pointer.active {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) translate(-50%, -50%);
    -ms-transform: scale3d(1.5, 1.5, 1.5) translate(-50%, -50%);
    transform: scale3d(1.5, 1.5, 1.5) translate(-50%, -50%);
  }
  .rd-range__pointer.active:before {
    animation: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

.rd-range__line {
  background-color: #00cec8;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
}

.rd-range.hasTooltip .rd-range__pointer-tooltip {
  font-size: 12px;
  color: #fff;
  opacity: 0;
  transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.rd-range.hasTooltip .rd-range__pointer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.rd-range.hasTooltip .rd-range__pointer:before {
  content: none;
}

.rd-range.hasTooltip .rd-range__pointer:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 16px solid #00cec8;
  opacity: 0;
  -webkit-transform: translate3d(0, -8px, 0);
  -ms-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
  transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

/* Стили скроллинга */

#sidebar 
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #ddd;
}
::-webkit-scrollbar-track{
	background-color: #398e8e;
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    background-color: #398e8e;
}

.index {
	margin-bottom: 30px;
}

.type5 {
	margin-bottom: 10px;
}


.freeindex {
	position: relative;
	margin-top: 10px;
}

.type1_content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
}

.type1,.type2,.type3,.type4,.type6 {
	margin-bottom: 7px;
	position: relative;
}

.type1 .product_main {
	margin-top: 10px;
}

.type2_content,.type3_content,.type4_content {
	width: 100%;
    height: 100%;
	overflow: hidden;
	text-align: center;
}

.video_container video {
	width:100% !important;
	height:auto !important;
}
.video_container {
	padding: 0;
	z-index: 1; 
	opacity: 1; 
	overflow: hidden;
}
.video_description h3 {
	position: absolute;
	bottom: 5px;
	right: 20px;
	left: 20px;
	color: #fff;
	text-shadow: 0px 0px 7px #000, 0px 0px 7px #000;
}

.video_description {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.tab_container {
	position:absolute;
/*	padding-top:10px; */
	width: 100%;
	float: left;
	left: 0;
	padding: 0;
	overflow: hidden;
}

.catalog .tab-content {
	border: 0px;
}

.tab-content {
	z-index: 1;
 	border-top: 1px solid #ddd;
}

.catalog {
	position: relative;
	overflow: hidden;
    margin-bottom: 10px;
    padding: 0 16px;	
}

.catalog .nav>li>a {
	padding: 0px 10px;
}

.catalog .tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  background-color: #ddd;
    margin-right: 13px;  
	box-shadow: -1px 1px 1px #ccc;	
}

.subscribe {
	margin-top: 10px;
}

.bar-padding-fix {
    height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.bar-tab .tab-item .icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.tab-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    color: #929292;
    text-align: center;
    vertical-align: middle;
}

.bar .icon {
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.icon {
    display: inline-block;
    font-family: Ratchicons;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
} 

.bar-tab .tab-item .icon ~ .tab-label {
    display: block;
    font-size: 11px;
}

.product_page_total {
	margin-bottom: 10px;
}

.btn-to-cart {
	background-color: #00cec8 !important;
}

.btn-to-favorite {
	margin-top: 10px;
    background-color: rgba(129, 216, 208, 0.5) !important;
}

.product_page .btn-launch {
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
}

.description .btn-launch {
	color: #fff;
}


.product_page {
    border-radius: 6px;
    background: rgba(129, 216, 208, 0.1);
    float: left;
    padding: 10px 10px 20px 10px;
}

.product_page_img {
	margin-bottom: 15px;
}

.product_page .fa-ruble {
	font-size: 13px;
	font-weight: 100;
	color: #000;
}

.cart_page {
    border-radius: 6px;
    background: rgba(129, 216, 208, 0.1);
    float: left;
    padding: 0 10px 20px;
	margin: 0 0 20px;
}
	
.item-product-quantity {
	margin-bottom: 10px;
	line-height: 1em;
	padding: 5px 0;
}

.item-product-quantity:hover {
	background-color: #fff;
}

.product-quantity {
    padding: 6px 0;
	width: 124px;
	margin: 0 auto;
}

.product-quantity .form-control {
    display: inline-block;
    width: 44px;
    text-align: center;
    height: 36px;
    float: left;
    margin-left: -2px;
    z-index: 510;
	border-radius: 0;
	border: 1px solid #D0D0D0;
}

.product-quantity .btn {
    font-size: 16px;
    font-weight: bold;
    width: 40px;
    float: left;
    background-color: #F0F0F0;
    z-index: 500;
    padding: 6px 12px;
	border-radius: 0;
	border: 1px solid #D0D0D0;
}

.product-quantity .btn:last-child {
    border-left: 0;
}

.product-quantity .btn {
    font-size: 16px;
    font-weight: bold;
    width: 40px;
    float: left;
    background-color: #F0F0F0;
    z-index: 500;
    padding: 6px 12px;
}

.product-title {
	margin: 10px 0 15px 0;
}

.overdue_order {
	background-color: #ff2626;
	color: #fff;
}

.paid_order {
	background-color: #cff5ff;
}

.order_info {
	margin-bottom: 20px;
}

.personal-input {
 margin: 10px 0;	
}

.catalog_container {
	overflow-x: scroll;
}

#rigth_btm_fixed {
    position: fixed;
    _position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 14px;
    text-align: center;
	padding: 0 2px 0 0;
    width: 100px;
    height: 95px;
	z-index: 10000;
	border-top: 1px solid #49999a;
	border-left: 1px solid #49999a;
	background-color: #f9f9f9;
	border-radius: 8px 0 0 0;
	line-height: 1.5em;
    _top: expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
    _left: expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);
}

#rigth_btm_fixed i {
	cursor:pointer;
}
#rigth_btm_fixed b {
	font-size: 26px;
	line-height: 1.2em;
}

.has-danger {
color:#fff;
background-color:#d9534f
}

.not_active {
	
}

.alarm {
	border: 4px solid #bf4747;width: 100%; padding: 10px;text-align:center;margin-bottom: 8px;border-radius: 8px;
}

.view_type {
	
}

.employees img{
  width: 100%;
  max-width: 300px;
}

.employee {
  margin-bottom: 10px;
  padding: 0;
}
.productmodal.modal-body {
  padding: 0;
  float:left;
  background-color: #fff;
}

#order small{
	line-height: 1;
	font-size: 11px;
}