html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  padding: 30px 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
}

.chosen-choices li.search-choice {
    position: relative;
    margin: 3px 0 3px 0px;
    padding: 3px 5px 3px 5px;
    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: #81d8d0;
    background-clip: padding-box;
    color: #fff;
    cursor: default;
}

.catalog-inner .catalog-filters .chosen-container-multi {
    width: 100% !important;
}

.chosen-choices {
    text-align: left;
    padding: 0;
}

.chosen-choices a {
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
}

.search-choice {
    background: #fff;
    border: 0 solid #fff;
    padding: 5px 5px 5px 25px;
}

.right {
	float: right !important;
}

.marginb10 {
	margin-bottom: 10px !important;
}

.list-group {
    height: 170px;
    overflow: hidden;
    overflow-y: scroll;
}

.list-group-header {
    background-color: #81d8d0;
	color: #fff;
	z-index: 2;
	padding: 6px 12px;
	position: relative;
    display: block;
	border:1px solid #81d8d0;
}