	<? include 'header.html'; ?>
    <div class="container">
	
	     
		 
        <div class="col-xs-12 no-padding ">


		  <div class="cart_page col-xs-12">
					  <div class="col-xs-12 no-padding">
						  <div class="breadcrumbs">
						  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Корзина
						  </div>
					  </div>
					  
					  
			<div class="cart_page_items no-padding col-xs-12">
				<div class="cart_page_item col-xs-12 no-padding">
					<div class="col-xs-5 col-md-2 no-padding">
						<div class="col-xs-12 cart_product_img vcenter">
						<h4 class="visible-xxs"><b><a href="product.html">Кольцо из серебра с кристаллом BNCAR1143-R</a></b></h4>
						<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
						<div class="cart_item_title">
						<h4 class="hidden-xxs"><b><a href="product.html">Кольцо из серебра с кристаллом BNCAR1143-R</a></b></h4>
						</div>
						</div>
						
					</div>
						
					<div class="col-xs-7 col-md-10 cart_product_description no-padding">
						<div class="col-xs-12 col-md-3 col-lg-4 vcenter" >
						
							<h4>
							<b>Вес:</b> 1.25<br>
							<b>Размер:</b> 17,5 р<br>
							<b>Вставка:</b> Гранат<br>
							<b>Покрытие:</b> Родирование					
							</h4>
						</div><!--
						--><div class="col-xs-12 col-md-3 col-lg-2 cart_product_price vcenter">
						<h4><b>Цена:</b> 317 руб</h4>
						</div><!--
						--><div class="col-xs-12 col-md-3 col-lg-2 cart_product_quantity vcenter">
						<h4>
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="10">
								<a class="btn btn-default" id="qty-plus">+</a>
						</h4>
						</div><!--
						--><div class="col-xs-12 col-md-3 col-lg-4 cart_product_sum vcenter">
						<h4><b>Сумма:</b> 3 170 руб</h4>
						</div>
						
						
					</div>
					
					  <button type="button" class="delete" data-dismiss="modal" aria-label="Delete"><span aria-hidden="true" class="fa fa-times"></span></button>
				</div>
				<div class="cart_page_item col-xs-12 no-padding">
					<div class="col-xs-5 col-md-2 no-padding">
						<div class="col-xs-12 cart_product_img vcenter">
						<h4 class="visible-xxs"><b><a href="product.html">Кольцо из серебра с кристаллом BNCAR1143-R</a></b></h4>
						<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
						<div class="cart_item_title">
						<h4 class="hidden-xxs"><b><a href="product.html">Кольцо из серебра с кристаллом BNCAR1143-R</a></b></h4>
						</div>
						</div>
						
					</div>
						
					<div class="col-xs-7 col-md-10 cart_product_description no-padding">
						<div class="col-xs-12 col-md-3 col-lg-4 vcenter" >
						
							<h4>
							<b>Вес:</b> 1.25<br>
							<b>Размер:</b> 17,5 р<br>
							<b>Вставка:</b> Гранат<br>
							<b>Покрытие:</b> Родирование					
							</h4>
						</div><!--
						--><div class="col-xs-12 col-md-3 col-lg-2 cart_product_price vcenter">
						<h4><b>Цена:</b> 317 руб</h4>
						</div><!--
						--><div class="col-xs-12 col-md-3 col-lg-2 cart_product_quantity vcenter">
						<h4>
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="10">
								<a class="btn btn-default" id="qty-plus">+</a>
						</h4>
						</div><!--
						--><div class="col-xs-12 col-md-3 col-lg-4 cart_product_sum vcenter">
						<h4><b>Сумма:</b> 3 170 руб</h4>
						</div>
						
						
					</div>
					
					  <button type="button" class="delete" data-dismiss="modal" aria-label="Delete"><span aria-hidden="true" class="fa fa-times"></span></button>
				</div>
					  
			</div>
			 <div class="col-xs-12 no-padding" style="margin-top:15px;">
				  <div class="raw">
				  <div class="col-xs-12 col-sm-4 text-center no-padding"><b>Сумма баллов к начислению:</b> 1354 <i class="fa fa-question-circle"></i></div>
				  <div class="col-xs-12 col-sm-4 text-center col-sm-push-4 no-padding"><b>Итого:</b> 13 540 рубля <i class="fa fa-question-circle"></i></div>
				  <div class="col-xs-12 col-sm-4 text-center col-sm-pull-4"><b>Оплатить баллами</b> (325) <i class="fa fa-check-square-o" style="font-size:18px;"></i><i class="fa fa-square-o"></i></div>
				  </div>
		  
		    </div>
					  <div class="order_info col-xs-12 col-md-10 col-md-offset-2" style="margin-top:15px;">
						  <div class="cart_page_company col-xs-12">
							<h3>Выберите компанию:</h3>

							<div class="col-xs-12 col-md-10 cart_option active">ООО "Делориан" ОГРН&nbsp;1214564899 ИНН&nbsp;631113555</div> 
							<div class="col-xs-12 col-md-10 cart_option">ООО "Ровер" ОГРН&nbsp;1214564899 ИНН&nbsp;631113555</div> 
							<div class="col-xs-4 col-sm-3 btn btn-success btn-sm"><i class="fa fa-plus"></i> Добавить</div> 
																									
						  </div>
						  <div class="cart_page_delivery_type col-xs-12">
							<h3>Способ доставки:</h3>
							<div class="col-xs-5 col-md-4 cart_option">Самовывоз</div> 
							<div class="col-xs-5 col-xs-offset-2 col-md-4 col-md-offset-2 cart_option active">Доставка</div> 
						  </div>
						  <div class="cart_page_address col-xs-12">
							<h3>Выберите адрес:</h3>

							<div class="col-xs-12 col-md-10 cart_option active">443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9</div> 
							<div class="col-xs-12 col-md-10 cart_option">443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9</div> 
							<div class="col-xs-12 col-md-10 cart_option">443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9</div> 
							<div class="col-xs-4 col-sm-3 btn btn-success btn-sm"><i class="fa fa-plus"></i> Добавить</div> 
			  
						  </div>
						  <div class="cart_page_address col-xs-12">
							<h3>Адрес самовывоза:</h3>

							<div class="col-xs-12 col-md-10 cart_option active">Нижний Новгород, ул. М. Горького, д. 262, 4 этаж, офис 50</div> 
			  
						  </div>
					</div>

		    
		  <div class="col-xs-12 no-padding" style="margin-top:15px;">
		  <div class="raw">
		  <div class="col-xs-5 col-sm-4 text-center no-padding"><a class="btn btn-block btn-primary">Продолжить покупки</a></div>
		  <div class="col-xs-5 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center "><a class="btn btn-block btn-success btn-md">Оформить</a></div>
		  </div>
		  </div>
		  </div>
	
		</div>
          
			
		 <div class="clear"></div>	
	
			
      
      </div>
	




    </div> 
    </div> <!-- /container -->

		<? include 'footer.html'; ?>