	<? include 'header.html'; ?>
    <div class="container catalog_container">
	
	     <div class="row row-offcanvas row-offcanvas-left">
		
		
		
		
		
		
		 <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 sidebar-offcanvas filters" id="sidebar" role="navigation">
		 <h4>Вы выбрали:</h4>
		 <ul class="chosen-choices">
		 <li class="search-choice">
		 <span>Группа: <b>Кольца</b></span> <a class="glyphicon glyphicon-remove-sign right"></a>
		 </li>
		 <li class="search-choice">
		 <span>Размер: <b>17</b></span> <a class="glyphicon glyphicon-remove-sign right"></a>
		 </li>
		 <li class="search-choice">
		 <span>Вставка: <b>Агат зеленый</b></span> <a class="glyphicon glyphicon-remove-sign right"></a></li>
		 </ul>
		 <div class="row">
		 <div class="col-xs-12">
		 <a href="javascript:;" data-toggle="modal" data-target="#safeFilterModal"><button type="button" class="col-xs-12 btn btn-sm btn-info	">Cохранить фильтр</button></a>
		 </div>
		 </div>
     
     <!--Если ничего не выбрано (кроме выбора цены)
		 <h4>Выберите фильтры:</h4>-->
     

       <div class="offset-top-20">
       

           <div class="layout-slider" style="width: 100%">
      <span style="display: inline-block; width: 100%; padding: 0 5px;"><input id="Slider1" type="slider" name="price" value="800;50000" /></span>
    </div>
    <script type="text/javascript" charset="utf-8">
      jQuery("#Slider1").slider({ from: 800, to: 50000, step: 100, smooth: true, round: 0, dimension: "&nbsp;", skin: "round" });
    </script>
       
       
       
       
       
       
       

        </div>

     
     
		<div class="list-group-header">Товарная группа</div>
 
		            <div  class="list-group">
		 		        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $('#example-filter-placeholder').multiselect({
                                                    enableFiltering: true,
                                                    filterPlaceholder: 'Поиск...',
                                                    enableCaseInsensitiveFiltering: true
                                                });
                                            });
                        </script>

                                        <select id="example-filter-placeholder" multiple>
                                            <option value="a">Кольца</option>
                                            <option value="b">Ожерелье</option>
                                            <option value="c">Бусы</option>
                                            <option value="d">Серьги</option>
                                            <option value="e">Подвеска</option>
                                            <option value="f">Обручалка</option>
                                            <option value="g">Option 7</option>
                                            <option value="h">Option 8</option>
                                            <option value="i">Option 9</option>
                                            <option value="j">Option 10</option>
                                            <option value="k">Option 11</option>
                                            <option value="l">Option 12</option>
                                            <option value="m">Option 13</option>
                                            <option value="n">Option 14</option>
                                        </select> 
		         </div> 
		<div class="list-group-header">Статус</div>				 
		            <div  class="list-group">
		 		        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $('#marker-filter-placeholder').multiselect({
                                                    //enableFiltering: true,
                                                    filterPlaceholder: 'Поиск...',
                                                    //enableCaseInsensitiveFiltering: true
                                                });
                                            });
                        </script>

                                        <select id="marker-filter-placeholder" multiple>
                                            <option value="a">Новинки</option>
                                            <option value="b">Хиты</option>
                                            <option value="c">Акции</option>
                                         </select> 
		         </div>
		  
		<div class="list-group-header">Материал</div>		
		  <input id="filterMaterial" type="text" class="form-control search-filter" placeholder="Поиск...">	
          <div  class="list-group searchableMaterial"> 
            <a href="#" class="list-group-item">Серебро 925</a>
          </div>
          <div class="list-group-header">Вставка</div>			  
		  <input id="filterVstavka" type="text" class="form-control search-filter" placeholder="Поиск...">	
          <div  class="list-group searchableVstavka">
            <a href="#" class="list-group-item">Агат зеленый</a>
            <a href="#" class="list-group-item">Аметист зеленый</a>
            <a href="#" class="list-group-item">Гранат</a>
            <a href="#" class="list-group-item">Жемчуг розовый культ.</a>
            <a href="#" class="list-group-item">Сапфир черный</a>
            <a href="#" class="list-group-item">Хризолит</a>
          </div>
		  <div class="list-group-header">Размер</div>	
		  <input id="filter" type="text" class="form-control search-filter" placeholder="Поиск...">	
          <div  class="list-group searchable">  
            <a href="#" class="list-group-item">13 р</a>
            <a href="#" class="list-group-item">18 см</a>
            <a href="#" class="list-group-item">14 р</a>
            <a href="#" class="list-group-item">14 р</a>
            <a href="#" class="list-group-item">14 р</a>
            <a href="#" class="list-group-item">19 см</a>			
          </div>
          <div class="list-group-header">Покрытие</div>		  
		  <input id="filter" type="text" class="form-control search-filter" placeholder="Поиск...">	
          <div  class="list-group searchable">	  
            <a href="#" class="list-group-item">Без покрытия</a>
            <a href="#" class="list-group-item">Золочение</a>
            <a href="#" class="list-group-item">Оксидирование</a>
            <a href="#" class="list-group-item">Черный родий</a>			
            <a href="#" class="list-group-item">Черный родий</a>			
            <a href="#" class="list-group-item">Черный родий</a>			
          </div>
		  


		  
		  
        </div>
		 
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 no-padding">


		  <div class="options">
		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Кольца
			  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="description">
				<h1>Кольца - 17 размер - Вставка Агат зеленый</h1>
				<p>Описание группы Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
			  </div>
		  </div>
		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center ">
			  <div class="col-md-4 view_type hidden-xs hidden-sm text-left">
			  <div class="btn-group">
			  <button class="btn btn-default"><i class="fa fa-th"></i></button>
			  <button class="btn btn-default"><i class="fa fa-th-list"></i></button>
			  </div>
			  </div>

		 <div class="col-xs-12 col-sm-12 col-md-8 sort">

			  <i class="fa fa-sort"></i>
			  <select class="form-control">
			  <option>По новизне товаров</option>
			  <option>По цене по возрастанию</option>
			  <option>По цене по убыванию</option>
			  <option>По количеству баллов</option>
			  <option>По остаткам</option>
			  <option>Хиты</option>
			  <option>Новинки</option>
			  <option>Акции</option>
			  </select>

			  </div>

		  </div>
		  <div style="width:100%;height:15px;float:left;" class="clearfix visible-sm visible-xs"></div>
		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center no-padding">
				<ul class="pagination">
					<li class="disabled">
						<span>1</span>
					</li>
					<li>
						<a href="#2">2</a>
					</li>
					<li>
						<a href="#3">3</a>
					</li>
					<li>
						<a href="#4">4</a>
					</li>
					<li>
						<a href="#5">5</a>
					</li>
					<li>
						<a href="#6">6</a>
					</li>
					<li class="disabled">
							<span class="hellip">…</span>
					</li>
					<li>
						<a href="#18">18</a>
					</li>
				</ul>
		  </div>
		  </div>
          <div class="products col-xs-12">
		  
		  <!-- актуальная форма карточки товара -->
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<div class="markers">
			<div class="marker_new">Новинка</div>
			<div class="marker_hit">Хит</div>
			<div class="marker_action">Акция</div>
			</div>
			<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
      <a href="javascript:;" data-toggle="modal" data-target="#ModalProduct"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="javascript:;" data-toggle="modal" data-target="#ModalProduct"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4><a href="product.html">Кольцо из серебра с топазом</a></h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
        <a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a>
			  <button class="btn btn-default" href="product.html" role="button" data-toggle="tooltip" title="Добавить в избранное"><i class="fa fa-star-o"></i></button>
			  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
            </div>
		 <!-- /актуальная форма карточки товара -->


			
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
	
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<div class="markers">
			<div class="marker_new">Новинка</div>
			<div class="marker_hit">Хит</div>
			<div class="marker_action">Акция</div>
			</div>
			<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
              <button class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</button>
			  <button class="btn btn-default" href="product.html" role="button" data-toggle="tooltip" title="Добавить в избранное"><i class="fa fa-star-o"></i></button>
			  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
            </div>

			

            </div>
			
			<!-- товары в одну строчку -->
            <div class="products_list col-xs-12">
			
		    <div class="col-xs-12 product_inlist text-center">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
				<div class="product-img">
				<div class="markers">
				<div class="marker_new">Новинка</div>
				<div class="marker_hit">Хит</div>
				<div class="marker_action">Акция</div>
				</div>
				<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
				<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
				<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
				</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 text-center">
				  <h4><b>Кольцо из серебра с топазом</b></h4>
				  <p>Артикул: 0123-R-AMG<br>
				  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
				  <button class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</button>
				  <button class="btn btn-default" href="product.html" role="button" data-toggle="tooltip" title="Добавить в избранное"><i class="fa fa-star-o"></i></button>
				  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
				</div>		
            </div>				
			
		    <div class="col-xs-12 product_inlist text-center">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
				<div class="product-img">
				<div class="markers">
				<div class="marker_new">Новинка</div>
				<div class="marker_hit">Хит</div>
				<div class="marker_action">Акция</div>
				</div>
				<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
				<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
				<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
				</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 text-center">
				  <h4><b>Кольцо из серебра с топазом</b></h4>
				  <p>Артикул: 0123-R-AMG<br>
				  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
				  <button class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</button>
				  <button class="btn btn-default" href="product.html" role="button" data-toggle="tooltip" title="Добавить в избранное"><i class="fa fa-star-o"></i></button>
				  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
				</div>		
            </div>			
			<!-- /товары в одну строчку -->
			
			</div>
			
			
		 <div class="clear"></div>	
		<div class="options col-xs-12 no-padding">
		<div style="width:100%;height:15px;float:left;" class="clearfix"></div>
		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center ">
			  <div class="col-md-4 view_type hidden-xs hidden-sm text-left">
			  <button class="btn btn-default"><i class="fa fa-th"></i></button>
			  <button class="btn btn-default"><i class="fa fa-th-list"></i></button>
			  </div>

		 <div class="col-xs-12 col-sm-12 col-md-8 sort">

			  <i class="fa fa-sort"></i>
			  <select class="form-control">
			  <option>По новизне товаров</option>
			  <option>По цене по возрастанию</option>
			  <option>По цене по убыванию</option>
			  <option>По количеству баллов</option>
			  <option>По остаткам</option>
			  <option>Хиты</option>
			  <option>Новинки</option>
			  <option>Акции</option>
			  </select>

			  </div>

		  </div>
		  <div style="width:100%;height:15px;float:left;" class="clearfix visible-sm visible-xs"></div>
		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center no-padding">
				<ul class="pagination">
					<li class="disabled">
						<span>1</span>
					</li>
					<li>
						<a href="#2">2</a>
					</li>
					<li>
						<a href="#3">3</a>
					</li>
					<li>
						<a href="#4">4</a>
					</li>
					<li>
						<a href="#5">5</a>
					</li>
					<li>
						<a href="#6">6</a>
					</li>
					<li class="disabled">
							<span class="hellip">…</span>
					</li>
					<li>
						<a href="#18">18</a>
					</li>
				</ul>
		  </div>
		  </div>
			
			
			
       

<!--/span-->
      </div><!--/row-->
	




    </div> 
    </div> <!-- /container -->
	<? include 'footer.html'; ?>
	 