
	<? include 'header.html'; ?>

    <div class="container">
	
	  
		 
        <div class="col-xs-12 no-padding">


		  <div class="infopage">
		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Контакты
			  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="description">
				<h1>Контакты</h1>
				<!-- контакты филиалы к которому относится посетитель по геотегу -->
				<div class="col-xs-12">
					<div class="col-xs-12 col-md-6 main_contacts">
						<div>            
						<span itemprop="name"><b>«Ювелирная компания «Серебро»</b></span> 
						<br>
						Время работы: 
						<br>
						<time itemprop="openingHours" datetime="Mo-Fr 09:00−18:00">пн-пт, 09.00-18.00</time> 
						<br>                
						<br>
						<dt>
						<b>Центральный офис в г. САМАРА</b>
						</dt>
						<dt>
						  <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
							<span itemprop="postalCode">443030,</span> <span itemprop="addressRegion">Самарская область,</span> <span itemprop="addressLocality">Самара,</span> 
							<span itemprop="streetAddress">ул. Урицкого, д. 19, 8 этаж, офис 6,</span> <span itemscope="" itemtype="http://schema.org/Place" itemprop="location">БЦ «Деловой Мир»</span><br>
							<br>

						  </div>

						</dt>
						  <dt><span itemprop="telephone"><a href="tel:88463726451">(846) 372-64-51 </a></span>  &nbsp; </dt>
						  <dt>email: <span itemprop="email"><a href="mailto:info@tdserebro.ru">info@tdserebro.ru</a></span></dt> 
						  <dt>Сайт: <a href="http://tdserebro.ru/">http://tdserebro.ru/</a></dt><br>
						</div>
					</div>
				<div class="col-xs-12 col-md-6">
				<iframe src="https://api-maps.yandex.ru/frame/v1/-/CVdFmU5O" width="100%" style="min-height:400px;" frameborder="0"></iframe>
				</div>				
				</div>
				<!-- /контакты филиалы к которому относится посетитель по геотегу -->
				<div class="col-xs-12"><h2>Офисы в других городах</h2></div>
				<!-- контакты остальных филиалов -->
				<div class="col-xs-12 col-md-6 other_contacts">
					<div class="col-xs-12">
						<b>КАЗАНЬ</b> 
						<br>
						ул. Право-Булачная 35/2, 1 подъезд, 2 этаж,  офис 202                    <br>
										
						<a href="tel:88435331924">(843) 533-19-24</a>, <a href="tel:88435331925">533-19-25</a>, <a href="tel:88435331926">533-19-26</a>  &nbsp; 
						<br>
						email: <a href="mailto:kazan@tdserebro.ru ">kazan@tdserebro.ru </a><br>
						сайт: <a href="http://tdserebro.ru/kazan/">http://tdserebro.ru/kazan/</a>
					</div>
					<div class="col-xs-12">
					<iframe src="https://api-maps.yandex.ru/frame/v1/-/CVdFmU5O" width="100%" style="min-height:200px;" frameborder="0"></iframe>
					</div>	
				</div>
				<div class="col-xs-12 col-md-6 other_contacts">
					<div class="col-xs-12">
						<b>КАЗАНЬ</b> 
						<br>
						ул. Право-Булачная 35/2, 1 подъезд, 2 этаж,  офис 202                    <br>
										
						<a href="tel:88435331924">(843) 533-19-24</a>, <a href="tel:88435331925">533-19-25</a>, <a href="tel:88435331926">533-19-26</a>  &nbsp; 
						<br>
						email: <a href="mailto:kazan@tdserebro.ru ">kazan@tdserebro.ru </a><br>
						сайт: <a href="http://tdserebro.ru/kazan/">http://tdserebro.ru/kazan/</a>
					</div>
					<div class="col-xs-12">
						<iframe src="https://api-maps.yandex.ru/frame/v1/-/CVdFmU5O" width="100%" style="min-height:200px;" frameborder="0"></iframe>
					</div>					
				</div>
				<div class="col-xs-12 col-md-6 other_contacts">
					<div class="col-xs-12">
						<b>КАЗАНЬ</b> 
						<br>
						ул. Право-Булачная 35/2, 1 подъезд, 2 этаж,  офис 202<br>
						<a href="tel:88435331924">(843) 533-19-24</a>, <a href="tel:88435331925">533-19-25</a>, <a href="tel:88435331926">533-19-26</a><br>
						email: <a href="mailto:kazan@tdserebro.ru ">kazan@tdserebro.ru </a><br>
						сайт: <a href="http://tdserebro.ru/kazan/">http://tdserebro.ru/kazan/</a>
					</div>
					<div class="col-xs-12">
						<iframe src="https://api-maps.yandex.ru/frame/v1/-/CVdFmU5O" width="100%" style="min-height:200px;" frameborder="0"></iframe>
					</div>					
				</div>
				<!-- контакты остальных филиалов -->
			  </div>
		  
		  
		  
		  </div>
		
			
			
			
       


		  </div>
	




		</div> 
    </div> <!-- /container -->

	<? include 'footer.html'; ?>