
	<? include 'header.html'; ?>

    <div class="container">
	
	  
		 
        <div class="col-xs-12 no-padding">


		  <div class="infopage">
			  <div class="col-xs-12 no-padding">
				  <div class="breadcrumbs">
				  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Центр обучения
				  </div>
			  </div>
			  <div class="col-xs-12 no-padding">
				  <div class="description">
					<h1>Расписание вебинаров</h1>
          
          <p>
          Подробная инструкци о том как записаться на бесплатное обучение и принять участие, читайте по ссылке: инструкция для участинков
          </p>
          
					<dl class="dl-horizontal education">
						<dt>Дата проведения<br>22/07/2016<br>с 11.00-13.00 по МСК</dt>
						<dd><b><a href="info.html">Особенности продаж поделочных камней</a></b><br>
						<p>С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.</p>
            <button class="btn btn-default">Подробнее &raquo;</button>
            <button class="btn btn-default" type="button" onclick="location.href='signcourse.html'">Записаться на курс</button>
            </dd>
            
						<dt>Дата проведения<br>22/07/2016<br>с 11.00-13.00 по МСК</dt>
						<dd><b><a href="info.html">Особенности продаж поделочных камней</a></b><br>
						<p>С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.</p>
            <button class="btn btn-default">Подробнее &raquo;</button>
            <button class="btn btn-default" type="button" onclick="location.href='signcourse.html'">Записаться на курс</button>
            </dd>
            
						<dt>Дата проведения<br>22/07/2016<br>с 11.00-13.00 по МСК</dt>
						<dd><b><a href="info.html">Особенности продаж поделочных камней</a></b><br>
						<p>С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.</p>
            <button class="btn btn-default">Подробнее &raquo;</button>
            <button class="btn btn-default" type="button" onclick="location.href='signcourse.html'">Записаться на курс</button>
            </dd>
            
					</dl>
				  </div>
			  </div>
			  </div>
	




		</div> 
    </div> <!-- /container -->

	<? include 'footer.html'; ?>