
	<? include 'header.html'; ?>

    <div class="container">
	
	  
		 
        <div class="col-xs-12 no-padding">


		  <div class="infopage">
		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Сотрудники
			  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="description employees">
        <!-- Данная страница доступна только авторизованным активным пользователям -->
				<h1>Сотрудники филиала в г. Самара</h1>
				<!-- Сотрудники выбранного филиала -->
        
				<div class="col-xs-12 col-md-6 employee">
					<div class="col-xs-12 col-md-6">
						<img src="http://tdserebro.ru/upload/iblock/000/000e6a3ef65f04649cb49f3d19c7c6a4.png">
					</div>
					<div class="col-xs-12 col-md-6">
                <h3>Аксенова Алла</h3> 
                Руководитель ОСП   <br>
                <a href="mailto:aksenova@tdserebro.ru">aksenova@tdserebro.ru</a>
					</div>	
				</div>
        
        
				<div class="col-xs-12 col-md-6 employee">
					<div class="col-xs-12 col-md-6">
						<img src="http://tdserebro.ru/upload/iblock/7dd/7dd8ce1700ab8105641be0333bfc69a1.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
                <h3>Митина Елена </h3> 
                
                Менеджер по продажам  <br>
                <a href="callto:+78463726451">+7 (846) 372-64-51</a> (доб. 125)<br>
                <a href="callto:+78463726451">+7 902 292-63-20</a> <br>
                <a href="mailto:aksenova@tdserebro.ru">aksenova@tdserebro.ru</a>
					</div>	
				</div>
				<div class="col-xs-12 col-md-6 employee">
					<div class="col-xs-12 col-md-6">
						<img src="http://tdserebro.ru/upload/iblock/b9a/b9a57afcdb864b3dd10a5b65a13223c0.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
					<h3>Аксенова Алла</h3> 
                
                Руководитель ОСП   <br>
                <a href="mailto:aksenova@tdserebro.ru">aksenova@tdserebro.ru</a>
					</div>	
				</div>
				<!-- /Сотрудники выбранного филиала -->
			  </div>
		  
		  
		  
		  </div>
		
			
			
			
       


		  </div>
	




		</div> 
    </div> <!-- /container -->

	<? include 'footer.html'; ?>