	<? include 'header.html'; ?>
    <div class="container">
		
		
		 
        <div class="col-xs-12 no-padding">


		  <div class="col-xs-12 options">
		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Избранные товары
			  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="description">
				<h1>Избранные товары</h1>
			  </div>
		  </div>
		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center ">
			  <div class="col-md-4 view_type hidden-xs hidden-sm text-left">
			  <button class="btn btn-default"><i class="fa fa-th"></i></button>
			  <button class="btn btn-default"><i class="fa fa-th-list"></i></button>
			  </div>

		 <div class="col-xs-12 col-sm-12 col-md-8 sort">

			  <i class="fa fa-sort"></i>
			  <select class="form-control">
			  <option>По новизне товаров</option>
			  <option>По цене по возрастанию</option>
			  <option>По цене по убыванию</option>
			  <option>По количеству баллов</option>
			  <option>По остаткам</option>
			  <option>Хиты</option>
			  <option>Новинки</option>
			  <option>Акции</option>
			  </select>

			  </div>

		  </div>
		  <div style="width:100%;height:15px;float:left;" class="clearfix visible-sm visible-xs"></div>
		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center no-padding">
				<ul class="pagination">
					<li class="disabled">
						<span>1</span>
					</li>
					<li>
						<a href="#2">2</a>
					</li>
					<li>
						<a href="#3">3</a>
					</li>
					<li>
						<a href="#4">4</a>
					</li>
					<li>
						<a href="#5">5</a>
					</li>
					<li>
						<a href="#6">6</a>
					</li>
					<li class="disabled">
							<span class="hellip">…</span>
					</li>
					<li>
						<a href="#18">18</a>
					</li>
				</ul>
		  </div>
		  </div>
          <div class="products col-xs-12">
		  
		  <!-- актуальная форма карточки товара -->
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<div class="markers">
			<div class="marker_new">Новинка</div>
			<div class="marker_hit">Хит</div>
			<div class="marker_action">Акция</div>
			</div>
			<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
      <a href="javascript:;" data-toggle="modal" data-target="#ModalProduct"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="javascript:;" data-toggle="modal" data-target="#ModalProduct"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4><a href="product.html">Кольцо из серебра с топазом</a></h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
        <a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a>
			  <button class="btn btn-default btn-danger" href="product.html" role="button" data-toggle="tooltip" title="Удалить из избранного"><i class="fa fa-remove"></i></button>
			  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
            </div>
		 <!-- /актуальная форма карточки товара -->


			
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
						  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
            </div>
					  
	
            <div class="col-xs-12 col-sm-6 col-lg-3 text-center product">
			<div class="product-img">
			<div class="markers">
			<div class="marker_new">Новинка</div>
			<div class="marker_hit">Хит</div>
			<div class="marker_action">Акция</div>
			</div>
			<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
			<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
			<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
              <button class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</button>
			  <button class="btn btn-default" href="product.html" role="button" data-toggle="tooltip" title="Добавить в избранное"><i class="fa fa-star-o"></i></button>
			  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
            </div>

			

            </div>
			
			<!-- товары в одну строчку -->
            <div class="products_list col-xs-12">
			
		    <div class="col-xs-12 product_inlist text-center">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
				<div class="product-img">
				<div class="markers">
				<div class="marker_new">Новинка</div>
				<div class="marker_hit">Хит</div>
				<div class="marker_action">Акция</div>
				</div>
				<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
				<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
				<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
				</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 text-center">
				  <h4><b>Кольцо из серебра с топазом</b></h4>
				  <p>Артикул: 0123-R-AMG<br>
				  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
				  <button class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</button>
			  <button class="btn btn-default btn-danger" href="product.html" role="button" data-toggle="tooltip" title="Удалить из избранного"><i class="fa fa-remove"></i></button>
				  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
				</div>		
            </div>				
			
		    <div class="col-xs-12 product_inlist text-center">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
				<div class="product-img">
				<div class="markers">
				<div class="marker_new">Новинка</div>
				<div class="marker_hit">Хит</div>
				<div class="marker_action">Акция</div>
				</div>
				<div class="product_img_content"><img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG"></div>
				<a href="product.html"><div class="visible-xs fast-view-xs btn btn-sm btn-info">Быстрый просмотр</div></a>
				<a href="product.html"><div class="hidden-xs fast-view-sm-lg">Быстрый просмотр</div></a>
				</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 text-center">
				  <h4><b>Кольцо из серебра с топазом</b></h4>
				  <p>Артикул: 0123-R-AMG<br>
				  Цена: от 1 370 руб <small>(+70 баллов)</small></p>
				  <button class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</button>
			  <button class="btn btn-default btn-danger" href="product.html" role="button" data-toggle="tooltip" title="Удалить из избранного"><i class="fa fa-remove"></i></button>
				  <!--если товар есть в избранном <button class="btn btn-default btn-success" href="product.html" title="Кольцо 0123-R-AMG" role="button"><i class="fa fa-star"></i></button> -->
				</div>		
            </div>			
			<!-- /товары в одну строчку -->
			
			</div>
			
			
		 <div class="clear"></div>	
		<div class="options col-xs-12 no-padding">
		<div style="width:100%;height:15px;float:left;" class="clearfix"></div>
		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center ">
			  <div class="col-md-4 view_type hidden-xs hidden-sm text-left">
			  <button class="btn btn-default"><i class="fa fa-th"></i></button>
			  <button class="btn btn-default"><i class="fa fa-th-list"></i></button>
			  </div>

		 <div class="col-xs-12 col-sm-12 col-md-8 sort">

			  <i class="fa fa-sort"></i>
			  <select class="form-control">
			  <option>По новизне товаров</option>
			  <option>По цене по возрастанию</option>
			  <option>По цене по убыванию</option>
			  <option>По количеству баллов</option>
			  <option>По остаткам</option>
			  <option>Хиты</option>
			  <option>Новинки</option>
			  <option>Акции</option>
			  </select>

			  </div>

		  </div>
		  <div style="width:100%;height:15px;float:left;" class="clearfix visible-sm visible-xs"></div>
		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center no-padding">
				<ul class="pagination">
					<li class="disabled">
						<span>1</span>
					</li>
					<li>
						<a href="#2">2</a>
					</li>
					<li>
						<a href="#3">3</a>
					</li>
					<li>
						<a href="#4">4</a>
					</li>
					<li>
						<a href="#5">5</a>
					</li>
					<li>
						<a href="#6">6</a>
					</li>
					<li class="disabled">
							<span class="hellip">…</span>
					</li>
					<li>
						<a href="#18">18</a>
					</li>
				</ul>
		  </div>
		  </div>
			
			
			
       

<!--/span-->
      </div><!--/row-->
	


    </div> <!-- /container -->
	<? include 'footer.html'; ?>
	 