

	  <div id="footer">
		<div class="container">
        <div class="footer-nav col-md-8 col-sm-8 col-xs-12">
                        <aside class="col-md-3 col-xs-6">
                            <p><span class="fa fa-diamond"></span> Каталог</p>
                            <ul>
                                <li><a href="catalog.html">Серебро</a></li>
                                <li><a href="catalog.html">Бижутерия</a></li>
                                <li><a href="catalog.html">Бусы</a></li>
                                <li><a href="catalog.html">Аксессуары</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md-3 col-xs-6">
                            <p><span class="fa fa-cubes"></span> Оптовикам</p>
                            <ul>
                                <li><a href="info.html">Преимущества</a></li>
                                <li><a href="info.html">Минимальный заказ</a></li>
                                <li><a href="info.html">Доставка и оплата</a></li>
                                <li><a href="javascript:;" data-toggle="modal" data-target="#loginModal">Купить оптом</a></li>
                            </ul>
                        </aside>
						
						
                        <aside class="col-md-3 col-xs-6">
                            <p><span class="fa fa-info-circle"></span> Информация</p>
                            <ul>
                              <li><a href="news.html">Новости</a></li>
                              <li><a href="info.html">Методические пособия</a></li>
                              <li><a href="#">Ювелирная энциклопедия</a></li>
                              <li><a href="#">Камни имен</a></li>
                              <li><a href="#">Гороскоп камней</a></li>
                              <li><a href="#">Уход за серебром</a></li>
                              <li><a href="#">Сотрудничество</a></li>
                            </ul>
                        </aside>
                        <aside class="col-md-3 col-xs-6">
                            <p><span class="fa fa-paw"></span> О нас</p>
                            <ul>
                                <li><a href="info.html">О Компании</a></li>
                                <li><a href="info.html">Контакты </a></li>
                                <li><a href="info.html">Вопросы/Ответы </a></li>
                                <li><a href="info.html">Сертификаты</a></li>
                                <li><a href="info.html">Дипломы</a></li>
                                <li><a href="employees.html">Сотрудники</a></li>
                                <li><a href="info.html">Вакансии</a></li>
                            </ul>
                        </aside>
         </div>

		 <div class="footer-social col-md-4 col-sm-4 col-xs-12">
			<div class="footer-social col-md-12 col-sm-12 col-xs-12 text-center no-padding">
                        <a href="/" class="footer-logo">
                            <img src="images/logo_vert.png" alt="Серебро">
                        </a>
			</div>
			<div class="footer-social col-md-12 col-sm-12 col-xs-12 logo-footer">
						<ul>
							<a href="#vk"><li class="fa fa-vk"></li></a>
							<a href="#fb"><li class="fa fa-facebook"></li></a>
						</ul>
			</div>
		 </div>
		</div>
		<div class="container">
			<div class="col-xs-12 text-center"><small>Ювелирная компания Серебро. <br class="visible-xs">Все права защищены &copy; 2008-2016</small></div>
		</div>
      </div>
<!-- Сохранить фильтр -->
	<div class="modal fade" id="safeFilterModal" tabindex="-1" role="dialog" aria-labelledby="safeFilterLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="safeFilterLabel">Сохранить фильтр</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="text-center">

						    	<div role="tabpanel" class="tab-pane active text-center" id="home">
						    		&nbsp;&nbsp;
						    		<span id="login_fail" class="response_error" style="display: none;">Ошибка в названии.</span>
						    		<div class="clearfix"></div>
						    		<form>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-file-text"></i></div>
									      		<input type="text" class="form-control" id="filter_name" placeholder="Введите название">
									    	</div>
									    	<span class="help-block has-error" id="email-error"></span>
									  	</div>
							  			<button type="button" id="login_btn" class="btn btn-block bt-login" data-loading-text="Save"><i class="fa fa-save" style="color:#fff;"></i>&nbsp;&nbsp;Сохранить</button>
									</form>
								</div>
						    	

	      			
	      		</div>
	      		
	    	</div>
	   </div>
 	</div>
 	</div>
	<!-- /Сохранить фильтр -->	
	
	
	<!-- Обратный звонок -->
	<div class="modal fade" id="callBackModal" tabindex="-1" role="dialog" aria-labelledby="callBackModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="callBackModalLabel">Заказать обратный звонок</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="text-center">

						    	<div class="tab-pane active text-center" id="callBack">
						    		&nbsp;&nbsp;
						    		<span id="login_fail" class="response_error" style="display: none;">Неверно указан номер</span>
						    		<div class="clearfix"></div>
						    		<form>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-user"></i></div>
									      		<input type="text" class="form-control" id="name" placeholder="Имя">
									    	</div>
									    	<span class="help-block has-error" id="email-error"></span>
									  	</div>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-phone-square"></i></div>
									      		<input type="text" class="form-control" id="callnumber" placeholder="Телефон">
									    	</div>
									    	<span class="help-block has-error" id="email-error"></span>
									  	</div>
							  			<button type="button" id="login_btn" class="btn btn-block bt-login" data-loading-text="Save">Отправить</button>
						    	</div>
						    	

	      			
	      		</div>
	      		
	    	</div>
	   </div>
 	</div>
 	</div>
	<!-- /Обратный звонок -->	
	
	<!-- Личный кабинет -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="loginModalLabel">Личный кабинет</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="text-center">
		      			<div role="tabpanel" class="login-tab">
						  	<!-- Nav tabs -->
						  	<ul class="nav nav-tabs" role="tablist">
						    	<li role="presentation" class="active"><a id="signin-taba" href="#login" aria-controls="login" role="tab" data-toggle="tab">Вход</a></li>
						    	<li role="presentation"><a id="signup-taba" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Регистрация</a></li>
						    	<li role="presentation"><a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">Восстановить</a></li>
						  	</ul>
						
						  	<!-- Tab panes -->
						 	<div class="tab-content">
						    	<div role="tabpanel" class="tab-pane active" id="login">
						    		<span id="login_fail" class="response_error" style="display: none;">Ошибка авторизации, попробуйте снова.</span>
						    		<div class="clearfix"></div>
						    		<form>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-user"></i></div>
									      		<input type="text" class="form-control" id="login_username" placeholder="Логин (Телефон)">
									    	</div>
									    	<span class="help-block has-error" id="email-error"></span>
									  	</div>
									  	<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-lock"></i></div>
									      		<input type="password" class="form-control" id="password" placeholder="Пароль">
									    	</div>
									    	<span class="help-block has-error" id="password-error"></span>
									  	</div>
							  			<button type="button" id="login_btn" class="btn btn-block bt-login" data-loading-text="Войти" onclick="location.href='personal.html'">Войти</button>
							  			<div class="clearfix"></div>
							  			<div class="login-modal-footer">
							  				<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-6">
													<i class="fa fa-lock hidden-xs"></i>
													<a href="javascript:;" class="forgetpass-tab"> Забыли пароль? </a>
												
												</div>
												
												<div class="col-xs-6 col-sm-6 col-md-6">
													<i class="fa fa-check hidden-xs"></i>
													<a href="javascript:;" class="signup-tab"> Зарегистрироваться </a>
												</div>
											</div>
							  			</div>
									</form>
						    	</div>
						    	<div role="tabpanel" class="tab-pane" id="profile">
						    	    <span id="registration_fail" class="response_error" style="display: none;">Неверно заполненно ********</span>
						    		<div class="clearfix"></div>
						    		<form>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-user"></i></div>
									      		<input type="text" class="form-control" id="username" placeholder="ФИО">
									    	</div>
									    	<span class="help-block has-error" data-error='0' id="username-error"></span>
									  	</div>
									  	<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-phone"></i></div>
									      		<input type="text" class="form-control" id="phone" placeholder="Телефон"><!-- Валидация.По нему будет логин на сайт и уникальность -->
									    	</div>
									    	<span class="help-block has-error" data-error='0' id="phone-error"></span>
									  	</div>
									  	<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-at"></i></div>
									      		<input type="text" class="form-control" id="remail" placeholder="Email">
									    	</div>
									    	<span class="help-block has-error" data-error='0' id="remail-error"></span>
									  	</div>
							  			<button type="button" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering....">Регистрация</button>
										<div class="clearfix"></div>
										<div class="login-modal-footer">
							  				<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-6">
													<i class="fa fa-lock hidden-xs"></i>
													<a href="javascript:;" class="forgetpass-tab"> Забыли пароль? </a>
												
												</div>
												
												<div class="col-xs-6 col-sm-6 col-md-6">
													<i class="fa fa-check hidden-xs"></i>
													<a href="javascript:;" class="signin-tab"> Войти </a>
												</div>
											</div>
							  			</div>
									</form>
						    	</div>
						    	<div role="tabpanel" class="tab-pane text-center" id="forget_password">
						    	    <span id="reset_fail" class="response_error" style="display: none;"></span>
						    		<div class="clearfix"></div>
						    		<form>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-user"></i></div>
									      		<input type="text" class="form-control" id="femail" placeholder="Email">
									    	</div>
									    	<span class="help-block has-error" data-error='0' id="femail-error"></span>
									  	</div>
									  	
							  			<button type="button" id="reset_btn" class="btn btn-block bt-login" data-loading-text="Please wait....">Восстановить пароль</button>
										<div class="clearfix"></div>
										<div class="login-modal-footer">
							  				<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-6">
													<i class="fa fa-lock hidden-xs"></i>
													<a href="javascript:;" class="signin-tab"> Войти </a>
												
												</div>
												
												<div class="col-xs-6 col-sm-6 col-md-6">
													<i class="fa fa-check hidden-xs"></i>
													<a href="javascript:;" class="signup-tab"> Зарегистрироваться </a>
												</div>
											</div>
							  			</div>
									</form>
						    	</div>
						  	</div>
						</div>
	      				
	      			
	      		</div>
	      		
	    	</div>
	   </div>
 	</div>
 	</div>
	<!-- /Личный кабинет -->
	
	
	<!-- Поиск-XS -->
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="searchModalLabel">Поиск по сайту</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="text-center">

						    	<div role="tabpanel" class="tab-pane active text-center" id="home">
						    		<span id="login_fail" class="response_error" style="display: none;"><!--Ошибка--></span>
						    		<div class="clearfix"></div>
						    		<form>
										<div class="form-group">
									    	<div class="input-group">
									      		<div class="input-group-addon"><i class="fa fa-search"></i></div>
									      		<input type="text" class="form-control" id="filter_name" placeholder="Поиск по 50 000 товарам...">
									    	</div>
									  	</div>
							  			<button type="button" id="login_btn" class="btn btn-block bt-login" data-loading-text="Save"><i class="fa fa-search" style="color:#fff;"></i>&nbsp;&nbsp;Искать</button>
									</form>
								</div>
						    	

	      			
	      		</div>
	      		
	    	</div>
	   </div>
 	</div>
 	</div>
	<!-- /Поиск-XS -->	
	
	<!-- Экшен "В корзину" -->
	<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="cartModalLabel">Товар добавлен</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="text-center">

						    	<div role="tabpanel" class="tab-pane active text-center" id="home">
										<div class="col-xs-12">
										<p><big><b>Вы добавили:</b> 25 товаров на сумму 14144 руб.<br>
										<b>Итого в корзине:</b> 105 товаров на сумму 123144 руб.</big></p>
										</div>
							  			<button type="button" id="login_btn" class="btn btn-block btn-primary" data-dismiss="modal" aria-label="Close"><i class="fa fa-cart-plus" style="color:#fff;"></i>&nbsp;&nbsp;Продолжить покупки</button>
							  			<button type="button" id="login_btn" class="btn btn-block btn-success" href="cart.html"><i class="fa fa-cart-arrow-down" style="color:#fff;"></i>&nbsp;&nbsp;Перейти в корзину</button>

								</div>
						    	

	      			
	      		</div>
	      		
	    	</div>
	   </div>
 	</div>
 	</div>
	<!-- /Поиск-XS -->

<!-- Модальное окно продукта -->
	<div class="modal fade" id="ModalProduct" tabindex="-1" role="dialog" aria-labelledby="ModalProductLabel" aria-hidden="true">
		<div class="productmodal modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="ModalProductLabel">Кольцо из серебра с кристаллом BNCAR1143-R</h4>
	      		</div>
	      		<div class="productmodal modal-body">


              <? include 'modalproduct.html'; ?>
						    	


	      		
            </div>
         </div>
 	</div>
 	</div>
	<!-- /Модальное окно продукта -->

<!-- Модальное окно выбор региона -->
	<div class="modal fade" id="ModalRegion" tabindex="-1" role="dialog" aria-labelledby="ModalRegionLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content login-modal">
	      		<div class="modal-header login-modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
	        		<h4 class="modal-title text-center" id="ModalRegionLabel">Ваш регион</h4>
	      		</div>
	      		<div class="modal-body">

				
				<p><b>Ваш город:</b> <u>Нижний Новгород</u></p>
				<p>Если это не так, то введите Ваш город и нажмите "ОК"</p>
									    	<div class="input-group">
									      		
									      		<input type="text" class="form-control" id="filter_name" placeholder="Начните вводить Ваш город">
												<div class="input-group-addon">OK</div>
									    	</div>


	      		
            </div>
         </div>
 	</div>
 	</div>
	<!-- /Модальное окно выбор региона -->
	
	
	<div class="bar-padding-fix visible-xs"> </div>
	<nav class="navbar navbar-default navbar-fixed-bottom bar bar-tab visible-xs visible-sm" role="navigation">
            <a class="tab-item active" href="/">
                <i class="icon fa fa-home"></i>
                <span class="tab-label">Домой</span>
            </a>
            <a class="tab-item " href="javascript:;" data-toggle="modal" data-target="#loginModal">
                <i class="icon fa fa-user"></i>
                <span class="tab-label">Кабинет</span>
            </a>
            <a class="tab-item " href="/cart.html" id="bar-cart">
                <i class="icon fa fa-shopping-cart"></i>
                <span class="tab-label">Корзина</span>
            </a>
            <a class="tab-item" href="javascript:;" data-toggle="modal" data-target="#searchModal">
                <i class="icon fa fa-search"></i>
                <span class="tab-label">Поиск</span>
            </a>
        </nav>
<!--	<img src="images/1.jpg"> -->

<div id="rigth_btm_fixed">Осталось<br><b>214 <i class="fa fa-question" data-toggle="tooltip" data-trigger="click" data-html="true" title="Необходимо <a href='/newpersonedit.html'>добавить</a> юридическое лицо и пройти проверку"></i></b><br>товаров для просмотра цен</div>

		

<script type='text/javascript'><!--
/*

$('.nav-tabs li.active').removeClass('active');
$('.tab-pane.active').removeClass('active');



    $(document).click(function(e){
        var target = $(e.target);
        if (target.is('.tab-pane active') &bull;&bull; target.parents('.tab-content').length) return;
        $(document).unbind('click', arguments.callee);
        $('.tab-pane active').removeClass('active');
		$('.nav-tabs li.active').removeClass('active');
    });
	
	
	*/
//-->

</script>


<script type='text/javascript'>
$('#myCarousel').carousel({
  interval: 4000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}
    
    next.children(':first-child').clone().appendTo($(this));
  }
});	
</script>


	<script src="js/bootstrap.js"></script>
	<script src="js/offcanvas.js"></script>

	
<!-- Скрипт для инициализации элементов на странице, имеющих атрибут data-toggle="tooltip" -->
<script>
// после загрузки страницы
$(function () {
  // инициализировать все элементы на страницы, имеющих атрибут data-toggle="tooltip", как компоненты tooltip
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
  </body>
</html>