	<? include 'header.html'; ?>

    <div class="container index">
	
	     
		 
        <div class="col-xs-12 catalog">
		  <div class="hidden-xs col-xs-12">
		  <div class="tab_container" id="tab_container">
				<div class="tabbable tabs-left">
				<ul class="nav nav-tabs tabs-left col-xs-2">
				<li class=""><a href="#lA" data-toggle="tab">Кольца</a></li>
				<li class=""><a href="#lB" data-toggle="tab">Серьги</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Подвески</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Цепи</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Браслеты</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Колье</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Кресты</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Броши</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Зажимы</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Запонки</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Шнуры</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Брелоки</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Пирсинги</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Сувениры</a></li>
				<li class=""><a href="#lC" data-toggle="tab">Посуда</a></li>
				
		
				
				
				</ul>
				<div class="tab-content col-xs-10" id="tab-content" style="padding:0;">
				
				<div class="tab-pane" id="lA" style="padding: 10px;min-height: 390px;background-color: #ddd;">
				  <ul class="nav" style="max-height: 255px;">
					<li><a href="catalog.html">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">Кристаллы</a></li>
				  </ul>
				</div>
				<div class="tab-pane" id="lB" style="padding: 10px;min-height: 390px;background-color: #ddd;">
				  <ul class="nav" style="max-height: 255px;">
					<li><a href="catalog.html">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">Кристаллы</a></li>
				  </ul>
				</div>
				<div class="tab-pane" id="lC" style="padding: 10px;min-height: 390px;background-color: #ddd;">
				  <ul class="nav" style="max-height: 255px;">
					<li><a href="catalog.html">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">ДК/ПДК</a></li>
					<li><a href="#">Кристаллы</a></li>
				  </ul>
				</div>
				</div>
				</div>
		  </div>
		  </div>

		  
		  
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 no-padding carousel-container">

					<div id="myCarousel1" class="carousel slide" data-interval="5000" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
						<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel1" data-slide-to="1"></li>
						<li data-target="#myCarousel1" data-slide-to="2"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
						<div class="item active">
						  <img src="images/slide1.png" alt="...">
						  <div class="carousel-caption">
							<h3>Баннер1</h3>
							<p>Описание1</p>
						  </div>
						</div>
						
						<div class="item">
						  <img src="images/slide2.jpg" alt="...">
						  <div class="carousel-caption">
							<h3>Баннер2</h3>
							<p>Описание2</p>
						  </div>
						</div>
						
						<div class="item">
						  <img src="images/slide3.jpg" alt="...">
						  <div class="carousel-caption">
							<h3>Баннер3</h3>
							<p>Описание3</p>
						  </div>
						</div>
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel1" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					  </a>
					</div>


            </div>

      </div>
	<!-- тут фиксировнный блок типа5 -->
	<div class="col-xs-12 manufacturers">
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 type5">
		<div style="background-color:#ccc;"><img src="images/type5.jpg" style="width:100%;"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 type5">
		<div style="background-color:#ccc;"><img src="images/type5.jpg" style="width:100%;"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 type5">
		<div style="background-color:#ccc;"><img src="images/type5.jpg" style="width:100%;"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 type5">
		<div style="background-color:#ccc;"><img src="images/type5.jpg" style="width:100%;"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 type5">
		<div style="background-color:#ccc;"><img src="images/type5.jpg" style="width:100%;"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 type5">
		<div style="background-color:#ccc;"><img src="images/type5.jpg" style="width:100%;"></div>
		</div>		
	</div>
	
	<div class="col-xs-12 freeindex">
	
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding">
		<div class="col-xs-12 type1">
			<div style="type1_content">
		
		<!--Если нет баннера
			<div class="col-xs-6 col-sm-3 col-lg-6 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
            </div>
			
					 <div class="col-xs-6 col-sm-3 col-lg-6 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
            </div>			
					 <div class="col-xs-6 col-sm-3 col-lg-6 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
            </div>			
					 <div class="col-xs-6 col-sm-3 col-lg-6 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
            </div>
		</div>-->
		
				<img src="images/type1.jpg" style="width:100%;">
			</div>
		</div>
	</div>
	

	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding type-right">
		<div class="col-xs-12 type2">
			<div class="type2_content">
			<img src="images/type2.jpg" style="width:100%;">
			</div>

		</div>
		
		
		<div class="col-xs-12 type2">
			<!--<div class="type2_content"><img src="images/type2.jpg" style="width:100%;"></div>-->
		
		 <div class="col-xs-6 col-sm-3 col-lg-3 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <!--<p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>-->
            </div>
		 <div class="col-xs-6 col-sm-3 col-lg-3 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <!--<p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>-->
            </div>
		 <div class="col-xs-6 col-sm-3 col-lg-3 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <!--<p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>-->
            </div>
		 <div class="col-xs-6 col-sm-3 col-lg-3 text-center product_main">
			<div class="product-img">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>
              <h4>Кольцо</h4>
              <p>Артикул: 0123-R-AMG<br>
			  Цена: от 1 370 руб.</p>
              <!--<p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>-->
          </div>
		</div>
	  </div>

	</div>

		<div class="col-xs-12 freeindex">
			<div class="col-xs-12 col-sm-4 col-md-4 type6">
			<!--	<div class="type6_content"><img src="images/type2.jpg" style="width:100%;"></div> -->
			
			 <div class="col-xs-6 col-sm-6 col-lg-6 text-center product_main">
				<div class="product-img">
				<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
				</div>
				  <h4>Кольцо</h4>
				  <p>Артикул: 0123-R-AMG<br>
				  Цена: от 1 370 руб.</p>
				  <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
				</div>
			 <div class="col-xs-6 col-sm-6 col-lg-6 text-center product_main">
				<div class="product-img">
				<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
				</div>
				  <h4>Кольцо</h4>
				  <p>Артикул: 0123-R-AMG<br>
				  Цена: от 1 370 руб.</p>
				  <p><a class="btn btn-default" href="product.html" title="Кольцо 0123-R-AMG" role="button">Подробнее &raquo;</a></p>
				</div>
			</div>
			
			<div class="hidden-xs col-sm-2 col-md-2 type3">
				    <!--<div class="type3_content"><img src="images/type3.jpg" style="width:100%;"></div>-->
					<div id="myCarousel2" class="carousel slide" data-interval="3000" data-ride="carousel">
					  <ol class="carousel-indicators">
						<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel2" data-slide-to="1"></li>
						<li data-target="#myCarousel2" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner">
						<div class="item active">
						  <img src="images/type3-1.jpg" alt="...">
						  <div class="carousel-caption">
							<h3>Баннер1</h3>
							<p>Описание1</p>
						  </div>
						</div>
						
						<div class="item">
						  <img src="images/type3-2.jpg" alt="...">
						  <div class="carousel-caption">
							<h3>Баннер2</h3>
							<p>Описание2</p>
						  </div>
						</div>
						
						<div class="item">
						  <img src="images/type3-3.jpg" alt="...">
						  <div class="carousel-caption">
							<h3>Баннер3</h3>
							<p>Описание3</p>
						  </div>
						</div>
					  </div>
					  <!--<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel2" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					  </a>-->
					</div>
			</div>
			
			<div class="col-sm-6 col-md-6 type4">
				<!--<div class="type4_content"><img src="images/type4.jpg" style="width:100%;"></div>-->
				<div class="type4_content">
				<a href="catalog.html"><div class="video_description"><h3>Новая коллекция SOKOLOV уже в наличии!</h3></div></a>
				<div class="video_container">
				<video poster="/images/SOKOLOV.png" loop="loop" muted="muted" autoplay="autoplay" src="/video/sokolov.mp4" style="margin:0 auto;z-index: 90; opacity:1;max-height: 343px;"></video>
				</div>
				</div>
			</div>
			

		</div> 
		
		<div class="col-sm-offset-2 col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="subscribe">
						<form role="form" action="#" method="post">
						
						
									<div class="col-xs-12 personal-input input-group">
									<input type="text" class="form-control" placeholder="Email адрес" required="">			
									<span class="input-group-btn">
										<button class="btn btn-default btn-success" type="button">Подписаться</button>
									</span>	
									</div> 	
						
						

                        </form>
						
						
			</div>
		</div>
		
		
		
    </div> 
 <!-- /container -->
  <div class="clearfix"></div>

  
  	<? include 'footer.html'; ?>