
	<? include 'header.html'; ?>

    <div class="container">
	
	  
		 
        <div class="col-xs-12 no-padding">


		  <div class="infopage">
			  <div class="col-xs-12 no-padding">
				  <div class="breadcrumbs">
				  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Контакты
				  </div>
			  </div>
			  <div class="col-xs-12 no-padding">
				  <div class="description">
					<h1>Совсем скоро! Бизнес-завтрак: "Эффективное управление бизнесом"
					<!-- если это новость --><small>22/07/2016</small></h1>
					<p>
					С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.
					Среди них – трендовые украшения из новейших коллекций ТМ TEOSA, в которых гармонично сочетаются современные тенденции и модное ретро. Украшения из серии эксклюзивных коллекций, разработанных дизайнерами TEOSA, отражают последние модные тренды, в мире ювелирного искусства. Яркие и необычные, украшения в стиле Art Déco, изделия с барочным жемчугом и выполненные из серебра 925 пробы со вставками из цветных фианитов заняли центральное место экспозиции и собрали немало восторженных отзывов. </p>
					<p>Были представлены и классические украшения с драгоценными и полудрагоценными камнями, сапфирами, рубинами, гранатами, которые не теряют своей актуальности в любое время года; украшения с ювелирной эмалью и керамикой в ярких красках.<br>
					У гостей выставки также была возможность не только познакомиться с новыми и самыми популярными украшениями таких марок как SOKOLOV, Красная Пресня, Диамант и др, но и получить выгодные предложения по отгрузке.</p>
					<p align="center">
					<img src="http://tdserebro.ru//upload/medialibrary/7bd/7bdc5118501335a12fba688ee881d482.jpg" title="28 июля_Программа бизнес-завтрака.jpg" border="0" alt="28 июля_Программа бизнес-завтрака.jpg" style="max-width:724px;width:100%;" >
					</p>
				  </div>
			  </div>
			  </div>
	




		</div> 
    </div> <!-- /container -->

	<? include 'footer.html'; ?>