
	 
      <div class="col-xs-12 no-padding ">


		  <div class="product_page">
		  <div class="col-xs-12 no-padding">
		  <div class="raw">
		  <div class="col-xs-6 text-center"><a class="btn btn-launch btn-sm">Предыдущий</a></div>
		  <div class="col-xs-6 text-center"><a class="btn btn-launch btn-sm">Следующий</a></div>
		  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="description">
			  <div class="col-xs-12 text-center product-title"> 
				<strong>13 баллов</strong> по программе лояльности
			  </div>
			<div class="col-xs-12 col-sm-4 col-md-4 product_page_img text-center"> 
			<div class="col-xs-12" style="margin-bottom:10px;">
			<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
			</div>			
			
			
			<div class="col-xs-12 text-center">
			

						<div class="carousel slide" id="myCarousel">
						  <div class="carousel-inner">
							<div class="item active">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
							<div class="item">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
							<div class="item">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
							<div class="item">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
							<div class="item">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
							<div class="item">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
							<div class="item">
							  <div class="col-xs-3"><a href="#"><img src="/images/1.jpeg" class="img-thumbnail"></a></div>
							</div>
						  </div>
						  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						</div>
            
			</div>
								
			
			
			</div>
			
				<div class="col-xs-12 col-sm-8 col-md-8 no-padding"> 
					<p></p>
										
										
					<div class="col-xs-12 no-padding">	
					
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
						<div class="col-xs-6 col-sm-4 col-md-3 item-product-quantity text-center">
							<b>Размер:</b> 16<br>
							<b>Остаток:</b> 4
							<div class="product-quantity clearfix">
								<a class="btn btn-default" id="qty-minus">-</a>
								<input type="text" class="form-control" id="qty" value="1">
								<a class="btn btn-default" id="qty-plus">+</a>
							</div>
							<b>Цена:</b> от 12340&nbsp;<i class="fa fa-ruble"></i></br>
							<b>Вес:</b> от 5,63 гр.
						</div>	
													
					</div>	
					<div class="col-xs-12 no-padding" style="margin-top:15px;">
						<div class="col-xs-12 col-sm-6 text-left product_page_total">
						<b>Выбрано:</b> 25 товаров<br>
						<b>Сумма:</b> 14144&nbsp;<i class="fa fa-ruble"></i><br>
						<b>Баллов:</b> 123<br>
						</div>
						<div class="col-xs-12 col-sm-6 text-right">
						<a class="btn btn-launch btn-lg btn-to-cart" href="javascript:;" data-toggle="modal" data-target="#cartModal">В корзину</a>
						
						<a class="btn btn-launch btn-lg btn-to-favorite">В избранное</a>
						</div>
					</div>
				</div>	
				
			  </div>
			  </div>
			  
			  
		  <div class="col-xs-12 no-padding" style="margin-top:15px;">
		  <div class="raw">
		  <div class="col-xs-6 text-center"><a class="btn btn-launch btn-sm">Предыдущий</a></div>
		  <div class="col-xs-6 text-center"><a class="btn btn-launch btn-sm">Следующий</a></div>
		  </div>
		  </div>
		  </div>
	
		</div>
          


