	<? include 'header.html'; ?>

    <div class="container">
	


		 
		 
        <div class="col-xs-12 personal">


		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right"></i> <a href="/personal.html">Личный кабнет</a> <i class="fa fa-caret-right"></i> Добавление нового контрагента
			  </div>
		  </div>
		  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
			  <div class="personal_container">
				<h1 class="text-center">Информация о новом контрагенте</h1>

				<form class="form-horizontal">

				  
	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Название компании:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="ООО Вектор">
					</div>
				  </div>	
				  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">ОГРН:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="0146554466">
					</div>
				  </div>	  	 
				  	  	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">ИНН:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="0146554466">
					</div>
				  </div>	  	 
				  	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Свидетельство пробирного надзора:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="0146554466">
					</div>
				  </div>	  	 
				  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Карта пробирного надзора:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="0146554466">
					</div>
				  </div>	  
				  	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Юридический адрес:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="443033, г. Самара">
					</div>
				  </div>	  
				  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Почтовый адрес:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="443033, г. Самара">
					</div>
				  </div>	  
				  				  
	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Рабочий телефон:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="8-927-999-99-99">
					</div>
				  </div>	  
				  
				  
				  <div class="form-group">
					<label for="inputPhone" class="col-xs-12 col-sm-4 control-label">Сотовый телефон:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="phone" class="form-control" id="inputPhone" value="8-927-999-99-99">
					</div>
				  </div>				  
				  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Сайт компании:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="www.megasait.com">
					</div>
				  </div>
				  		  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">ФИО Руководителя:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="Клиентов Клиент">
					</div>
				  </div>
				  				  		  

				  
				  
				  <div class="form-group">
					<label for="inputEmail" class="col-xs-12 col-sm-4 control-label">email:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="email" class="form-control" id="inputEmail" value="client@mail.ru">
					</div>
				  </div>

				  
				  <div class="form-group">
					<label for="inputSafe" class="col-xs-12 col-sm-4 control-label"></label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <div class="col-xs-7 btn btn-success btn-sm right"><i class="fa fa-send"></i> Отправить</div> 
					</div>
				  </div>
				  <!--Если смена реквизитов компании -->
				  <div class="alarm"><b>Внимание!</b> При отправке заявки на изменение реквизитов, Вы не сможете делать заказ на редактируемое юридическое лицо</div>
				  <div class="form-group">
					<label for="inputSafe" class="col-xs-12 col-sm-4 control-label"></label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <div class="col-xs-7 btn btn-success btn-sm right"><i class="fa fa-send"></i> Сменить реквизиты</div> 
					</div>
				  </div>

				  </form>
				

				
				
				
				
			  </div>
		  </div>
		 

			
			
			
       

      </div><!--/row-->
	




    </div> <!-- /container -->
	<? include 'footer.html'; ?>