
	<? include 'header.html'; ?>

    <div class="container">
	
	  
		 
        <div class="col-xs-12 no-padding">


		  <div class="infopage">
			  <div class="col-xs-12 no-padding">
				  <div class="breadcrumbs">
				  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Контакты
				  </div>
			  </div>
			  <div class="col-xs-12 no-padding">
				  <div class="description">
					<h1>Новости</h1>
					<dl class="dl-horizontal">
						<dt>22/07/2016</dt>
						<dd><b><a href="info.html">Совсем скоро! Бизнес-завтрак: "Эффективное управление бизнесом"</a></b><br>
						С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.</dd>
						<dt>22/07/2016</dt>
						<dd><b><a href="info.html">В филиале в г. Воронеже прошел праздник в честь 2х летия филиала</a></b><br>
						С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.</dd>
						<dt>22/07/2016</dt>
						<dd><b><a href="info.html">07-10 июня приглашаем на выставку летнего ассортимента в ЮК «Серебро»!</a></b><br>
						С 9 по 11 сентября в Волгограде состоялась выставка-ярмарка, на которой специалистам ювелирной отрасли города были представлены новинки и популярные украшения ювелирных изделий, актуальных в наступающем сезоне.
						</dd>
					</dl>
				  </div>
			  </div>
			  </div>
	




		</div> 
    </div> <!-- /container -->

	<? include 'footer.html'; ?>