	<? include 'header.html'; ?>

    <div class="container">
	


		 
		 
        <div class="col-xs-12 personal">


		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> <a href="/personal.html">Личный кабнет</a> <i class="fa fa-caret-right"></i> Заказ № 412414
			  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="personal_container" id="order">
				<h1>Заказ № 412414 <small>20/07/2016</small> <i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="Бланк заказа"></i>&nbsp;&nbsp;<i class="fa fa-bank" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="Счёт на оплату"></i></h1>
				<h4><b>Статус:</b> <span class="text-success">Собран (21/07/2016)</span></h4>
				<h4><b>Юридическое лицо:</b> ООО "Вектор"</h4>
				<h4><b>Адрес доставки:</b> 443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9</h4>
				<!-- если нет доставки --><h4><b>Адрес самовывоза:</b> 443030, г. Самара, ул. Урицкого, д. 19, этаж 8, офиc 6</h4>
				<h4><b>Оплачено:</b> 1234 руб.</h4>
				<h4><b>Менеджер по заказу:</b> Митина Елена <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="8-927-999-99-99"></i></h4>
				
				<div class="personal_tabs">
				<div class="personal_tabs_container">				
								
									<table class="table" style="min-width:600px;">
									<thead>
									<tr>
									<th>Товар&nbsp;<a data-toggle="tooltip" title="Сортировать по номеру"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th>Описание <a data-toggle="tooltip" title="Сортировать по дате"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<!--не выводиться у заказов в статусе "Собран" и далее--><th style="min-width:80px">Цена <a data-toggle="tooltip" title="Сортировать по сумме"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th style="min-width:120px">Количество <i class="fa fa-question" aria-hidden="true" data-toggle="tooltip" title="Ваша корзина"></i></th>
									<!--выводиться у заказов в статусе "Собран" и далее--><th>Собранно <i class="fa fa-question" aria-hidden="true" data-toggle="tooltip" title="Количество собранное менеджером"></i></th>
									<th>Сумма <i class="fa fa-question" aria-hidden="true" data-toggle="tooltip" title="Собранное менеджером"></i></a></th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td width="120px">
											<a href="product.html">
											<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
											</a>
										</td>
									<td>
										<small>Кольцо из серебра с кристаллом BNCAR1143-R<br>
										<b>Вес:</b> 1.25<br>
										<b>Размер:</b> 17,5 р<br>
										<b>Вставка:</b> Гранат<br>
										<b>Покрытие:</b> Родирование</small>											
									
									</td>
									<!--не выводиться у заказов в статусе "Собран" и далее--><td>317 руб.</td>
									<td>10</td>
									<!--выводиться у заказов в статусе "Собран" и далее--><td>8</td>
									<td>2536 руб.</td>
									</tr>
									<tr>
										<td width="120px">
											<a href="product.html">
											<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
											</a>
										</td>
									<td>
										<small>Кольцо из серебра с кристаллом BNCAR1143-R<br>
										<b>Вес:</b> 1.25<br>
										<b>Размер:</b> 17,5 р<br>
										<b>Вставка:</b> Гранат<br>
										<b>Покрытие:</b> Родирование</small>											
									
									</td>
									<td>317 руб.</td>
									<td>10</td>
									<td>8</td>
									<td>2536 руб.</td>
									</tr>
									
									<!-- товар удален оператором -->
									<tr style="background-color:#ffa1a1">
										<td width="120px">
											<a href="product.html">
											<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
											</a>
										</td>
									<td>
										<small>Кольцо из серебра с кристаллом BNCAR1143-R<br>
										<b>Вес:</b> 1.25<br>
										<b>Размер:</b> 17,5 р<br>
										<b>Вставка:</b> Гранат<br>
										<b>Покрытие:</b> Родирование</small>											
									
									</td>
									<td>317 руб.</td>
									<td>10</td>
									<td>0</td>
									<td>2536 руб.</td>
									</tr>
									<!-- /товар удален оператором -->									
									
									<!-- добавленный товар оператором -->
									<tr style="background-color:#b4ffce">
										<td width="120px">
											<a href="product.html">
											<img src="/images/1.jpeg" class="img-thumbnail" alt="Кольцо 0123-R-AMG">
											</a>
										</td>
									<td>
										<small>Кольцо из серебра с кристаллом BNCAR1143-R<br>
										<b>Вес:</b> 1.25<br>
										<b>Размер:</b> 17,5 р<br>
										<b>Вставка:</b> Гранат<br>
										<b>Покрытие:</b> Родирование</small>											
									
									</td>
									<td>317 руб.</td>
									<td>0</td>
									<td>3</td>
									<td>2536 руб.</td>
									</tr>
									<!-- /добавленный товар оператором -->
									<tr>
										<td></td>
									<td></td>
									<td align="right"><b>Итого:</b></td>
									<td><b>20</b></td>
									<td><b>18</b></td>
									<td><b>5072 руб.</b></td>
									</tr>									
									
									
									
									</tbody>
									</table>
									
				</div>												
				</div>				
				</div>
			</div>
		</div>



    </div> <!-- /container -->
	<? include 'footer.html'; ?>