	<? include 'header.html'; ?>

    <div class="container">
	


		 
		 
        <div class="col-xs-12 personal">


		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right "></i> Личный кабнет
			  </div>
		  </div>
		  <div class="col-xs-12 no-padding">
			  <div class="personal_container">
				<h1>Личный кабинет</h1>
				<h4>Ваш статус: <span class="text-success">Временно активный пользователь</span></h4>
				<div class="alarm">У Вас осталось <b>214</b> товаров для просмотра цен. Чтобы получить полный доступ к ценам, необходимо добавить юридическое лицо и пройти проверку.</div>
				<form class="form-horizontal">
  <div class="form-group">
    <label for="inputTitle" class="col-xs-12 col-sm-4 col-lg-2 control-label"></label>
    <div class="col-xs-12 col-sm-8 col-lg-4">
      <div class="col-xs-12 text-left"><b>Контактные данные представителя:</b></div> 
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="inputPhone" class="col-xs-12 col-sm-4 col-lg-2 control-label">Телефон:</label>
    <div class="col-xs-12 col-sm-8 col-lg-4">
      <input type="phone" class="form-control" id="inputEmail" value="8-927-999-99-99">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-xs-12 col-sm-4 col-lg-2 control-label">email:</label>
    <div class="col-xs-12 col-sm-8 col-lg-4">
      <input type="email" class="form-control" id="inputPassword" value="client@mail.ru">
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-xs-12 col-sm-4 col-lg-2 control-label">ФИО представителя:</label>
    <div class="col-xs-12 col-sm-8 col-lg-4">
      <input type="text" class="form-control" id="inputPassword" value="Клиентов Клиент">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDate" class="col-xs-12 col-sm-4 col-lg-2 control-label">Дата рождения:</label>
    <div class="col-xs-12 col-sm-8 col-lg-4">
      <input type="date" class="form-control" id="inputPassword" value="1990-10-30">
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="inputSafe" class="col-xs-12 col-sm-4 col-lg-2 control-label"></label>
    <div class="col-xs-12 col-sm-8 col-lg-4">
      <div class="col-xs-7 btn btn-success btn-sm right"><i class="fa fa-save"></i> Сохранить изменения</div> 
    </div>
  </div>

  </form>
  <div class="clear"></div>				

				<div class="personal_tabs">
				<div class="personal_tabs_container">
						  	<!-- Nav tabs -->
						  	<ul class="nav nav-tabs">
						    	<li role="presentation" class="active"><a href="#orders" data-toggle="tab">Заказы</a></li>
						    	<li role="presentation"><a href="#bonus" data-toggle="tab">Бонусы</a></li>
						    	<li role="presentation"><a href="#filters" data-toggle="tab">Мои фильтры</a></li>
						    	<li role="presentation"><a href="#companies" data-toggle="tab">Ваши компании</a></li>
						    	<li role="presentation"><a href="#addresses" data-toggle="tab">Адресы доставки</a></li>
						  	</ul>
						
						  	<!-- Tab panes -->
						 	<div class="tab-content">
						    	<div class="tab-pane col-xs-12 active" id="orders">
								<p>В этом разделе отображаются ваши заказы.</p>
								
										 <div class="col-xs-12 col-sm-6 text-left">
											  <div class="sort">
											  
											  <b>Показать</b>&nbsp;
											  <select class="form-control">
											  <option selected>Все</option>
											  <option>Новые</option>
											  <option>Отмененные</option>
											  <option>В обработке</option>
											  <option>Собран</option>
											  <option>Подтвержден</option>
											  <option>Готов к отправке</option>
											  <option>Отгружен/Доставлен</option>
											  <option>Отправлен</option>
											  </select>
											  
											  </div>
										  </div>								
								
								
									     <div class="col-xs-12 col-sm-6">
											<ul class="pagination">
												<li class="disabled">
													<span>1</span>
												</li>
												<li>
													<a href="#2">2</a>
												</li>
												<li>
													<a href="#3">3</a>
												</li>
												<li>
													<a href="#4">4</a>
												</li>
												<li>
													<a href="#5">5</a>
												</li>
												<li>
													<a href="#6">6</a>
												</li>
												<li class="disabled">
														<span class="hellip">…</span>
												</li>
												<li>
													<a href="#18">18</a>
												</li>
											</ul>
									  </div>		
								
								
								
									<table class="table" style="min-width:600px;">
									<thead>
									<tr>
									<th>Номер&nbsp;<a data-toggle="tooltip" title="Сортировать по номеру"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th>Дата <a data-toggle="tooltip" title="Сортировать по дате"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th style="min-width:100px">Сумма <a data-toggle="tooltip" title="Сортировать по сумме"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th style="min-width:100px">Оплачено</th>
									<th>Статус <a data-toggle="tooltip" title="Сортировать по статусам"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th>Менеджер</th>
									<th style="min-width:120px">Дата оплаты</th>
									<th style="min-width:60px"></th>
									</tr>
									</thead>
									<tbody>
									<tr>
									<td><a href="personalorder.html">17822</a></td>
									<td>12.07.2016</td>
									<td>105 523 руб.</td>
									<td>105 руб.</td>
									<td>Готов к отправке (13/07/2016)</td>
									<td>Митина Елена <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="8-927-999-99-99"></i></td>
									<td>12.08.2016</td>
									<td><i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" title="Бланк заказа"></i>&nbsp;&nbsp;<i class="fa fa-bank" aria-hidden="true" data-toggle="tooltip" title="Счёт на оплату"></i></td>
									</tr>
									<tr>
									<td><a href="personalorder.html">17822</a></td>
									<td>18.07.2016</td>
									<td>255 523 руб.</td>
									<td>523 руб.</td>
									<td><span style="color:#ff6000;font-weight:900;">Собран (21/07/2016)&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Заказ ожидает вашего подтверждения"></i></span></td>
									<td>Митина Елена <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="8-927-999-99-99"></i></td>
									<td>18.08.2016</td>
									<td><i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" title="Бланк заказа"></i></td>
									</tr>
									<tr class="overdue_order"><!-- дата оплаты уже прошла, а сумма "Оплачено" не сравнялась с суммой заказа. Правило не действует для заказов со статусом "новый", "отмененный", "В обработке", "Собран" -->
									<td><a href="personalorder.html">17852</a></td>
									<td>18.07.2016</td>
									<td>255 523 руб.</td>
									<td>157 000 руб.</td>
									<td>Отгружен (21/07/2016)</td>
									<td>Митина Елена <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="8-927-999-99-99"></i></td>
									<td>23.07.2016</td>
									<td><i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" title="Бланк заказа"></i>&nbsp;&nbsp;<i class="fa fa-bank" aria-hidden="true" data-toggle="tooltip" title="Счёт на оплату"></i></td>
									</tr>
									<tr class="paid_order"><!-- Если сумма "Оплачено" сравнялась с суммой заказа -->
									<td><a href="personalorder.html">17852</a></td>
									<td>18.07.2016</td>
									<td>255 523 руб.</td>
									<td>255 523 руб.</td>
									<td>Отгружен (21/07/2016)</td>
									<td>Митина Елена <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="8-927-999-99-99"></i></td>
									<td>23.07.2016</td>
									<td><i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" title="Бланк заказа"></i>&nbsp;&nbsp;<i class="fa fa-bank" aria-hidden="true" data-toggle="tooltip" title="Счёт на оплату"></i></td>
									</tr>
									</tbody>
									</table>
									
																
									
									
						    	</div>
						    	<div class="tab-pane col-xs-12" id="bonus">
								<div class="col-xs-12 col-md-6 text-left text-success"><h2>Балланс баллов: 1563</h2></div>
								<div class="col-xs-12 col-md-6 text-left text-primary"><h2>Ожидают начисления: 6354</h2></div>
						    	    Описание группы Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
									
									<table class="table" style="min-width:600px;">
									<thead>
									<tr>
									<th>Номер&nbsp;<a data-toggle="tooltip" title="Сортировать по номеру"><i class="fa fa-sort" aria-hidden="true"></i></a></th><!-- id -->
									<th>Дата <a data-toggle="tooltip" title="Сортировать по дате"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
									<th>Событие</th>
									<th>Баллы</th>
									<th>Фирма</th>
									</tr>
									</thead>
									<tbody>
									<tr>
									<td>17822</td>
									<td>16.07.2016</td>
									<td>Зачисление оплаты по накладной № 34234</td>
									<td><span class="text-success">+105</span></td>
									<td>ООО "Ровер"</td>
									</tr>
									<tr>
									<td>17821</td>
									<td>14.07.2016</td>
									<td>Покупка на витрине подарков</td>
									<td><span class="text-danger">-5 235</span></td>
									<td>-</td>
									</tr>
									<tr>
									<td>17820</td>
									<td>12.07.2016</td>
									<td>Оплата накладной № 3414 баллами</td>
									<td><span class="text-danger">-235</span></td>
									<td>ООО "Делориан"</td>
									</tr>
									<tr>
									<td>17801</td>
									<td>10.07.2016</td>
									<td>Списание за возврат товара</td>
									<td><span class="text-danger">-25</span></td>
									<td>ООО "Делориан"</td>
									</tr>
									</tbody>
									</table>									
									
									  <div class="col-xs-12 text-right">
											<ul class="pagination">
												<li class="disabled">
													<span>1</span>
												</li>
												<li>
													<a href="#2">2</a>
												</li>
												<li>
													<a href="#3">3</a>
												</li>
												<li>
													<a href="#4">4</a>
												</li>
												<li>
													<a href="#5">5</a>
												</li>
												<li>
													<a href="#6">6</a>
												</li>
												<li class="disabled">
														<span class="hellip">…</span>
												</li>
												<li>
													<a href="#18">18</a>
												</li>
											</ul>
									  </div>										
									
									
						    	</div>
						    	<div class="tab-pane col-xs-12" id="filters">
								<p>Ваши сохраненные фильтры. Нажав на выбранный фильтр, вы перейдете в каталог с выбранными фильтрами</p>
								
								
								
								<form>
								
									<div class="col-xs-12 personal-input input-group">
									<a href="catalog.html" class="filter_a"><input type="text" class="form-control" value='Кольца до 10000 (Теоsa, Sokolov, кольца, цена от 3000 до 10000 руб, новинки) - 22.07.2016' disabled></a>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>
									</div>
																
									<div class="col-xs-12 personal-input input-group">
									<a href="catalog.html" class="filter_a"><input type="text" class="form-control" value='Серьги до 5000 (Серьги, цена от 100 до 5000 руб, хиты продаж) - 20.07.2016' disabled></a>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>
									</div>
																
									<div class="col-xs-12 personal-input input-group">
									<a href="catalog.html" class="filter_a"><input type="text" class="form-control" value='Бусы (Бусы, хиты продаж) - 12.07.2016' disabled></a>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>
									</div>
								
								</form>
					
						    	</div>
						    	<div class="tab-pane col-xs-12" id="companies">
								
								<!-- Если нет добавленных компаний --><h1>Чтобы увидеть цены на все товары, Вам необходимо добавить компанию и пройти проверку.</h1>
								<p>В этом разделе отображаются ваши компании.</p>
								
								
								<form>
								
									<div class="col-xs-12 personal-input input-group">
									<span class="input-group-addon">
										<input type="radio" checked>	
									</span>
									<input type="text" class="form-control" value='ООО "Делориан" ОГРН&nbsp;1214564899 ИНН&nbsp;631113555' disabled>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-success" type="button"><i class="fa fa-edit"></i></button>
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>
									</div>
									
									<div class="col-xs-12 personal-input input-group">
									<span class="input-group-addon">
									<input type="radio">	
									</span>
									<input type="text" class="form-control" value='ООО "Ровер" ОГРН&nbsp;1214564899 ИНН&nbsp;631113555' disabled>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-success" type="button"><i class="fa fa-edit"></i></button>
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>	
									</div> 	
									
									<div class="col-xs-12 personal-input input-group">
									<span class="input-group-addon">
									На проверке	
									</span>
									<input type="text" class="form-control" value='ООО "Бобер" ОГРН&nbsp;1214564834 ИНН&nbsp;631543555' disabled>			

									</div>
 									<div class="col-xs-12 personal-input input-group">
									<span class="input-group-addon has-danger">
									Удаленное <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Причина удаления. Если клиент сам удалил, то не должно быть тултипа"></i>	
									</span>
									<input type="text" class="form-control" value='ООО "Бобер" ОГРН&nbsp;1214564834 ИНН&nbsp;631543555' disabled>			

									</div> 
								</form>
									<div class="col-xs-4 col-sm-3 btn btn-success btn-sm" onclick="location.href='newpersonedit.html'"><i class="fa fa-plus"></i> Добавить</div> 
						    	</div>
						    	<div class="tab-pane col-xs-12" id="addresses">
								
								<p>В этом разделе отображаются ваши адреса.</p>								
								
								<form>
								
									<div class="col-xs-12 personal-input input-group">
									<input type="text" class="form-control" value='443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9' disabled>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-success" type="button"><i class="fa fa-edit"></i></button>
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>	
									</div> 	
									
									<div class="col-xs-12 personal-input input-group">
									<input type="text" class="form-control" value='443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9' disabled>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-success" type="button"><i class="fa fa-edit"></i></button>
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>	
									</div> 		
									
									<div class="col-xs-12 personal-input input-group">
									<input type="text" class="form-control" value='443030, г. Самара, ул. Комсомольской коммуны, д. 10, корп. 5, этаж 5, офиc 9' disabled>			
									<span class="input-group-btn">
										<button class="btn btn-default btn-success" type="button"><i class="fa fa-edit"></i></button>
										<button class="btn btn-default btn-danger" type="button"><i class="fa fa-remove"></i></button>
									</span>	
									</div> 
									

									<div class="col-xs-4 col-sm-3 btn btn-success btn-sm"><i class="fa fa-plus"></i> Добавить</div> 
						    	
								</form>
						    	</div>
						  	</div>
				</div>
				</div>
				
				
				
			  </div>
		  </div>
		 

			
			
			
       

      </div><!--/row-->
	




    </div> <!-- /container -->
	<? include 'footer.html'; ?>