	<? include 'header.html'; ?>

    <div class="container">
	


		 
		 
        <div class="col-xs-12 personal">


		  <div class="col-xs-12 no-padding">
			  <div class="breadcrumbs">
			  <a href="/">Главная</a> <i class="fa fa-caret-right"></i> <a href="/education.html">Центр обучения</a> <i class="fa fa-caret-right"></i> Запись на обучение
			  </div>
		  </div>
		  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
			  <div class="personal_container">
				<h1 class="text-center">Запись на обучение "Особенности продаж поделочных камней"</h1>

				<form class="form-horizontal">

				  
	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Город:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="Самара">
					</div>
				  </div>	
				  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Название компании:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="ООО Вектор">
					</div>
				  </div>	  	 
				  	  	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">ФИО:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="Иванов Петр">
					</div>
				  </div>	  	 
				  	  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Телефон:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="8-927-688-42-99">
					</div>
				  </div>	  	 
				  
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">Количество человек на обучение :</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="text" class="form-control" id="inputName" value="5">
					</div>
				  </div>	  
	
				  <div class="form-group">
					<label for="inputEmail" class="col-xs-12 col-sm-4 control-label">email:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <input type="email" class="form-control" id="inputEmail" value="client@mail.ru">
					</div>
				  </div>

          
				  <div class="form-group">
					<label for="inputName" class="col-xs-12 col-sm-4 control-label">ФИО участников:</label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <textarea type="text" class="form-control" id="inputName"></textarea>
					</div>
				  </div>	  
				  


				  
				  <div class="form-group">
					<label for="inputSafe" class="col-xs-12 col-sm-4 control-label"></label>
					<div class="col-xs-12 col-sm-6 col-lg-6">
					  <div class="col-xs-7 btn btn-success btn-sm right"><i class="fa fa-send"></i> Отправить</div> 
					</div>
				  </div>

				  </form>
				

				
				
				
				
			  </div>
		  </div>
		 

			
			
			
       

      </div><!--/row-->
	




    </div> <!-- /container -->
	<? include 'footer.html'; ?>